extends ../layout

block title
  | Validation Error
block content
  .col-md-12
    .page-header
      h2 Fehlgeschlagen
        small  Validierung
      p Offenbar hast Du einige Felder nicht wie vorgesehen ausgefüllt. Diese findest Du unten:
    ul
      for error in errors
        li #{error}
    p
      a.btn.btn-default(href="javascript:history.back()") Zurück


      
                    
    
