/.settings
/.c9revisions/
*.sublime*
/node_modules/
*~
.DS_Store
config/*.json*
!config/example*.json
!config/beans.json
!config/testbeans.json
!config/testbeansWithDB.json
log/*.log
version.jade
frontendtests/fixtures/*.html
bower_components

npm-debug.log
screen.css
global_de.js
global_en.js
build/config.gypi
coverage
.vagrant
.idea/dictionaries
.idea/modules.xml
.idea/libraries
.idea/workspace.xml
.idea/*.iml
.idea/jsLibraryMappings.xml

jquery.dataTables.min.js
public/images
jquery.dataTables.css
build
public/fonts
bootstrap.js
public/clientscripts
lib/mailarchive/imported.log
