/.settings
/.c9revisions/
*.sublime*
*~
.DS_Store

.idea/dictionaries
.idea/modules.xml
.idea/libraries
.idea/workspace.xml
.idea/*.iml
.idea/jsLibraryMappings.xml

.vagrant

node_modules/
bower_components

config/*.json*
!config/example*.json
!config/beans.json
!config/testbeans.json
!config/testbeansWithDB.json

*.log
softwerkskammer/version.jade
softwerkskammer/frontendtests/fixtures/*.html
softwerkskammer/build
softwerkskammer/public/clientscripts
softwerkskammer/public/fonts
softwerkskammer/public/img/bootstrap-colorpicker
softwerkskammer/public/images
softwerkskammer/public/stylesheets
softwerkskammer/*coverage*
socrates/build
socrates/public/clientscripts
socrates/public/fonts
socrates/public/stylesheets
