.idea
/.settings
/.c9revisions/
*.sublime*
*.iml
/node_modules/
*~
.DS_Store
config/*.json*
!config/example*.json
!config/beans.json
!config/testbeans.json
!config/testbeansWithDB.json
log/*.log
version.jade

npm-debug.log
screen.css
global_de.js
global_en.js
build/config.gypi
coverage
tempbeans.json
tempbeansWithDB.json
