include ../../lib/activities/views/activities-forms
include ../../lib/registration/views/participationinfoform
include ../../lib/members/views/userinfoform

+activityform(socratesReadModel, roomTypes)

+participationinfoform(roomOptions, registration)

form#participationform.relaxed(action='/registration/completeRegistration', method='post')
  +csrf
  fieldset
    +memberinfoform(member, null, 'members.edit_registration')
    +userinfoform(addon, participation)
    .row(style='margin-bottom: 10px')
      .col-sm-12
        +memberSubmitButtons('I really do want to participate!')
