doctype html
html
  body
    h3 SoCraTes Waitinglist Confirmation / Change
    p
      | #{member.displayName()} (#{member.nickname()}) is on the waitinglist for a #{' '}
      b #{bookingdetails.map(room => room.room).join(', ')}
      | .
