extends ../../../views/layout

include  ../../../views/formComponents

block scripts
  script(src="/clientscripts/inputHelpers.js")

block title
  | Wiki

block content
  form(action='/wiki/#{encodeURIComponent(pageName)}', method='post')
    fieldset
      .row-fluid
        .span12
          legend
            | Wiki-Seite&nbsp;
            if page.content === ''
              | anlegen
            else 
              | bearbeiten
          mixin hightextarea('content', 'Inhalt', page)
          mixin text('comment', 'Kommentar', page, 'Kommentar')
          button.btn.btn-primary.pull-right(type="submit") Speichern
          a.btn.pull-right(href="javascript:history.back()", type="cancel") Zurück
