extends ../../../views/layout

block title
  | #{subdir} (Subwiki)

block content
  .page-header
    h2 Übersicht der Dateien in "#{subdir}"
      .btn-group.pull-right
        a.btn.btn-default(href="javascript:history.back()", type="cancel") Zurück

  table.history.table.table-striped.table-bordered.table-hover.table-condensed
    each item in items
      tr
        td 
          a(href="/wiki/#{item.fullname}") #{item.name}
