extends layout

block title
  | 404 - File Not Found
block content
  .row
  .span6
    h3 Herzlichen Glückwunsch!
    p Du hast einen vier-null-vier gefunden.
    p Am Besten klickst Du auf einen unserer Links im Header.
  .span6
    h1 404
