extends layout

block title
  | 404 - Fehlende Seite
block content
  .row-fluid
    .span6
      h3 Herzlichen Glückwunsch!
      p Du hast einen vier-null-vier gefunden.
      p Am Besten klickst Du auf einen unserer Links im Header.
    .span6
      h3 404 - Diese Seite fehlt.
