
mixin dataTable(clazz, sorting, columns)
  script.
    $(document).ready(function() {
      $('#{clazz}').dataTable({
        oLanguage: {
          sUrl: tableLangUrl
        },
        aoColumns: #{columns},
        bPaginate: false,
        bAutoWidth: false,
        bFilter: false,
        aaSorting: #{sorting},
        bStateSave: false
      });
    });
