mixin map(location, width, height)
  #map.hidden-print(style="width: #{width}; height: #{height}")
  script(src="http://maps.googleapis.com/maps/api/js?sensor=false", type="text/javascript")
  script
    $(document).ready(function () {
      var mapOptions = {
          center: new google.maps.LatLng(50.77740690, 10.0987599999999),
          zoom: 6,
          disableDefaultUI: true,
          zoomControl: true,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
      var map = new google.maps.Map($('#map')[0], mapOptions);
      var styles = [
        {
          stylers: [
            { hue: "##c8cf7e" },
            { saturation: -50 }
          ]
        },{
          featureType: "road",
          elementType: "geometry",
          stylers: [
            { lightness: 20 },
            { visibility: "simplified" }
          ]
        },{
          featureType: "poi.business",
          elementType: "labels",
          stylers: [
            { visibility: "off" }
          ]
        }
      ];
      map.setOptions({styles: styles});
      var geocoder = new google.maps.Geocoder();
      geocoder.geocode( { 'address': "#{location}", region: 'de'}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
          });
          map.setZoom(13);
        }
      });
    });
  
