extends layout

block content
  h1 #{title}
  div#authenticationinfo
    - if (typeof(user) !== 'undefined')
      a(href="/auth/logout") log out
    - else
      a(href="/auth/login") log in

    p Welcome
