doctype 5
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="/stylesheets/screen.css", rel="stylesheet", media="screen")
    | <!--[if IE]><link href="/stylesheets/agora-ie-addon.css" rel="stylesheet"><![endif]-->
    style
      .container {
        max-width: 955px;
      }

      body {
        padding-top: 0px;
      }
    script(src="/clientscripts/jquery-1.9.1.js")
    script(src="/clientscripts/bootstrap.js")
    script(src="/clientscripts/agora.js")
    script(src="/clientscripts/swipe.js")
    title Softwerkskammer
  body
    include layoutComponents
    .container
      img(src="/img/Softwerkskammer_Header.png", alt="Softwerkskammer")
      p &nbsp;
      block content

    mixin bottomNavbar

    script.
      //window.mySwipe = Swipe(document.getElementById('slider'), { auto: 300 });
      window.mySwipe = Swipe(document.getElementById('slider'), {
        auto: 3000,
        callback: function(pos) {
          var i = bullets.length;
          while (i--) {
            bullets[i].className = ' ';
          }
          bullets[pos].className = 'on';
        }
      });
      var bullets = document.getElementById('position').getElementsByTagName('li');
