doctype 5
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="/stylesheets/bootstrap.css", rel="stylesheet", media="screen")
    link(href="/stylesheets/bootstrap-responsive.css", rel="stylesheet", media="screen")
    link(href="/stylesheets/bootstrap-editable.css", rel="stylesheet", media="screen")
    link(href="/stylesheets/bootstrap-timepicker.css", rel="stylesheet", media="screen")
    link(href="/stylesheets/font-awesome.min.css", rel="stylesheet")
    link(href="/stylesheets/fullcalendar.css", rel="stylesheet", media="screen")
    link(href="/stylesheets/colorpicker.css", rel="stylesheet", media="screen")
    link(href="/stylesheets/agora.css", rel="stylesheet", media="screen")
    title Softwerkskammer - 
      block title
  body
    include loginComponent
    include layoutComponents
    .navbar.navbar-fixed-top
      .navbar-inner
        a.brand.no-padding(href="/")
          img(src="/img/SoftwerkskammerWappenLinks.png")
        .container.bottom
          a.btn.btn-navbar(data-toggle="collapse", data-target=".navbar-inverse-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
            span.icon-bar
            span.icon-bar
          mixin loginMenu
          .nav-collapse.navbar-inverse-collapse
            ul.nav
              li#announcements: a(href="/announcements")
                i.icon-globe
                | &nbsp;Nachrichten
              li#activities.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown")
                  i.icon-calendar
                  | &nbsp;Aktivitäten
                  b.caret
                ul.dropdown-menu
                  li: a(href="/activities") Alle
                  li: a(href="/activities/upcoming") Kommende
              li#groups: a(href="/groups")
                i.icon-group
                | &nbsp;Gruppen
              if (typeof(user) !== 'undefined')
                li#members: a(href="/members")
                  i.icon-user
                  | &nbsp;Mitglieder
              mixin administrationMenu(true)

    .container-fluid
      .row-fluid
        .span9
          .row-fluid
            block content
        .span3
          .row-fluid
            #calendar

    .navbar.navbar-fixed-bottom
      .navbar-inner
        ul.nav.pull-right
          mixin administrationMenu(false)
          li: a(href="/impressum.html") Impressum

  script(src="/clientscripts/jquery-1.9.1.js")
  script(src="/clientscripts/bootstrap.js")
  script(src="/clientscripts/bootstrap-editable.js")
  script(src="/clientscripts/bootstrap-markdown.js")
  script(src="/clientscripts/markdown.js")
  script(src="/clientscripts/fullcalendar.js")
  script(src="/clientscripts/bootstrap-colorpicker.js")
  script(src="/clientscripts/navbar-scripts.js")
  script(src="/clientscripts/surroundWithLink.js")
  script(src="/clientscripts/agora-calendar.js")
  if (typeof(calViewYear) !== 'undefined')
    script
      $(document).ready(function () {
        $('#calendar').fullCalendar('gotoDate', #{calViewYear}, #{calViewMonth});      
      });
  block scripts
