doctype 5
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="/stylesheets/bootstrap.css", rel="stylesheet", media="screen")
    link(href="/stylesheets/bootstrap-responsive.css", rel="stylesheet", media="screen")
    link(href="/stylesheets/bootstrap-editable.css", rel="stylesheet", media="screen")
    link(href="/stylesheets/bootstrap-timepicker.css", rel="stylesheet", media="screen")
    link(href="/stylesheets/agora.css", rel="stylesheet", media="screen")
    link(href="/stylesheets/font-awesome.min.css", rel="stylesheet")
    title
      block title
        | Softwerkskammer
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        a.brand.no-padding(href="/") 
          img(src="/img/SoftwerkskammerWappenLinks.png")
        .container.bottom
          a.btn.btn-navbar(data-toggle="collapse", data-target=".navbar-inverse-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
            span.icon-bar
            span.icon-bar
          - if (typeof(user) !== 'undefined' && user.member)
            ul.nav.pull-right
              li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown") #{user.member.nickname}  
                  i.icon-info-sign
                  b.caret
                ul.dropdown-menu
                  li: a(href="/members/edit/#{user.member.nickname}") 
                    i.icon-edit
                    |  Profil bearbeiten
                  li: a(href="/auth/logout") 
                    i.icon-signout
                    |  Abmelden
                  li: a(href="https://github.com/softwerkskammer/NeuePlattform-Implementierung/issues?state=open") 
                    i.icon-github
                    |  Einen Bug melden
                  li: include ../version
          - else
            - var returnTo = ""
            - if (typeof(currentUrl) !== 'undefined')
              - returnTo = "?returnTo=" + encodeURIComponent(currentUrl)
            p.navbar-text.pull-right
              a.navbar-link(href="/auth/login" + returnTo)
                i.icon-signin  Anmelden
          .nav-collapse.navbar-inverse-collapse
            ul.nav
              li#announcements: a(href="/announcements") 
                i.icon-globe
                |  Nachrichten
              li#activities: a(href="/activities")
                i.icon-calendar
                |  Aktivitäten
              li#groups: a(href="/groups")
                i.icon-group
                |  Gruppen
              - if (typeof(user) !== 'undefined')
                li#members: a(href="/members")
                  i.icon-user
                  |  Mitglieder
                - if (user.member && user.member.isAdmin)
                  ul.nav.visible-desktop
                    li#administration.dropdown
                      a.dropdown-toggle(href="#", data-toggle="dropdown")
                        i.icon-dashboard
                        |  Verwaltung
                        b.caret
                      ul.dropdown-menu
                        li: a(href="/administration/memberTable") Mitglieder
                        li: a(href="/administration/groupTable") Gruppen

    .container-fluid
      .row-fluid
        .span9
          .row-fluid
            block content
        .span3
          .row-fluid
            .hero-unit
              h3 Platzhalter
              p An dieser Stelle werden in Zukunft der Kalender und andere Dinge auftauchen.
    .navbar.navbar-fixed-bottom
      .navbar-inner
        ul.nav.pull-right
          - if ((typeof(user) !== 'undefined') && user.member && user.member.isAdmin)
            ul.nav.hidden-desktop
              li#administration.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown")
                  i.icon-dashboard
                  | Verwaltung
                  b.caret
                ul.dropdown-menu
                  li: a(href="/administration/memberTable") Mitglieder
                  li: a(href="/administration/groupTable") Gruppen
          li: a(href="/impressum.html") Impressum

  script(src="/clientscripts/jquery-1.9.1.js")
  script(src="/clientscripts/bootstrap.js")
  script(src="/clientscripts/bootstrap-editable.js")
  script(src="/clientscripts/navbar-scripts.js")
  script(src="/clientscripts/surroundWithLink.js")
  block scripts
