doctype 5
html
  head
    title
      block title
        | Softwerkskammer
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#authenticationinfo
    - if (typeof(user) !== 'undefined')
        p name: #{user.profile.displayName}
        p ID: #{user.identifier}
        a(href="/auth/logout") log out
    - else
        a(href="/auth/login") log in
    block content
