doctype 5
html
  head
    title
      block title
        | Softwerkskammer
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#authenticationinfo
      - if (typeof(user) !== 'undefined')
        a(href="/members/edit") Profil
      - else
        a(href="/auth/login") log in

    block content
