doctype 5
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="/stylesheets/bootstrap.css", rel="stylesheet", media="screen")
    link(href="/stylesheets/bootstrap-responsive.css", rel="stylesheet", media="screen")
    link(href="/stylesheets/bootstrap-editable.css", rel="stylesheet", media="screen")
    link(href="/stylesheets/bootstrap-timepicker.css", rel="stylesheet", media="screen")
    title
      block title
        | Softwerkskammer
  body
    .container
      div(class="navbar navbar-inverse navbar-static-top")
        a(href="/"): img(src="/img/header.jpeg")
        .navbar-inner
          .container
          a(class="btn btn-navbar", data-toggle="collapse", data-target=".navbar-inverse-collapse")
            | <span class="icon-bar"></span>
            | <span class="icon-bar"></span>
            | <span class="icon-bar"></span>
            | <span class="icon-bar"></span>
            | <span class="icon-bar"></span>
          - if (typeof(user) !== 'undefined' && user.member)
            ul(class="nav pull-right")
              li.dropdown
                a(href="#", class="dropdown-toggle", data-toggle="dropdown") 
                  | #{user.member.nickname} <i class="icon-user icon-white"></i>
                  b.caret
                ul.dropdown-menu
                  li: a(href="/members/edit/#{user.member.nickname}") Profil bearbeiten
                  li: a(href="/auth/logout") Abmelden
                  li: include ../version
          - else
            - var returnTo = ""
            - if (typeof(currentUrl) !== 'undefined')
              - returnTo = "?returnTo=" + encodeURIComponent(currentUrl)
            p(class="navbar-text pull-right")
              a(href="/auth/login" + returnTo, class="navbar-link") Anmelden
          div(class="nav-collapse collapse navbar-inverse-collapse")
            ul.nav
              li#announcements: a(href="/announcements") Nachrichten
              li#activities: a(href="/activities") Aktivitäten
              li#groups: a(href="/groups") Gruppen
              - if (typeof(user) !== 'undefined')
                li#members: a(href="/members") Mitglieder
                - if (user && user.member && user.member.isAdmin)
                  ul.nav
                    li#administration.dropdown
                      a(href="#", class="dropdown-toggle", data-toggle="dropdown")
                        | Verwaltung
                        b.caret
                      ul.dropdown-menu
                        li: a(href="/administration/memberTable") Mitglieder
                        li: a(href="/administration/groupTable") Gruppen

      .row
        block content
    
    script(src="/clientscripts/jquery-1.9.1.js")
    script(src="/clientscripts/bootstrap.js")
    script(src="/clientscripts/bootstrap-editable.js")
    script(src="/clientscripts/navbar-scripts.js")
    block scripts
