#login.modal.fade(tabindex="-1")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
        h3 Authentifizierung
      .modal-body
        -var returnUrl = (typeof(currentUrl) === 'undefined') ? "/" : currentUrl
        .row
          .col-md-12
            p Du kannst Dich über einen der untenstehenden Dienste authentifizieren. Im Anschluss
              | bitten wir Dich, einige persönliche Daten einzugeben.
        .row
          .col-md-3
            a.btn.btn-default(href="/auth/openid?openid_identifier=" + encodeURIComponent("https://www.google.com/accounts/o8/id") + "&returnTo=" + encodeURIComponent(returnUrl))
              img(src="/img/google.ico", alt="google")
              | &nbsp;Google
          .col-md-3
            a.btn.btn-default(href="/auth/github?returnTo=" + encodeURIComponent(returnUrl))
              img(src="/img/github.ico", alt="github")
              | &nbsp;Github
        .row
          .col-md-12
            form(action="/auth/openid", method="get")
              p &nbsp; 
              input(type="hidden", name="returnTo", value=returnUrl)
              .panel.panel-default
                .panel-heading
                  a.accordion-toggle(href="#openIDinput", data-toggle="collapse") (optional) Eingabe der URL eines alternativen OpenID Providers:
                #openIDinput.collapse.panel-collapse
                  .input-group
                    input.form-control(id="openid_identifier", type='text', name="openid_identifier")
                    .input-group-btn
                      button.btn.btn-default(type="submit") Sonstige
