extends ../../../views/layoutOnlyMain

include  ../../../views/formComponents

block title
  = activityResult.id() + ' / Edit Photo'

block content
  .row
    .col-xs-12.col-sm-6
      img(width='100%', src=photo.uri() + '?size=thumb', style='padding-bottom: 20px;')
    .col-xs-12.col-sm-6
      form(role='form', method='post')
        +csrf
        +text('title', 'Title', photo.title(), '', t('activityresults.photoTitlePlaceholder'))
        +multiselect('tags', 'Tags', photo.tags(), activityResult.tags())
        .col-xs-6(style='padding-left:0px;padding-right:3px')
          +date('date', 'Date', photo.time().locale(language).format('L'))
        .col-xs-6(style='padding-left:0px;padding-right:3px')
          +time('time', photo.time().locale(language).format('LT'))
        +submitButtons('general.save')
      if (accessrights.canDeletePhoto(photo))
        -var deleteoptions = {url: '/activityresults/delete', params: {activityresults: activityResult.id(), photo: photo.id()}}
        +reallyDeleteModalPost('photo.delete', deleteoptions)
