extends ../../../views/layout

include  ../../../views/formComponents

block title
  =t('activityresults.nothing_to_see_here')

block content
  .row
    .col-md-12
      .page-header
        h2= t('activityresults.new')

      form(role='form',method='POST',action=createUri)
        +csrf
        +text('activityResultName', 'Name', activityResultName, '', '', true)
        +textWithTags('tags', 'Tags', '', [])
        +submitButtons('activityresults.submit')
