doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600', rel='stylesheet', type='text/css')
    link(href='/stylesheets/screen.css', rel='stylesheet')
    link(rel='apple-touch-icon', href='/img/apple-touch-icon-60x60-precomposed.png')
    link(rel='apple-touch-icon', href='/img/apple-touch-icon-76x76-precomposed.png')
    link(rel='apple-touch-icon', href='/img/apple-touch-icon-120x120-precomposed.png')
    link(rel='apple-touch-icon', href='/img/apple-touch-icon-152x152-precomposed.png')
    if (language === 'de')
      script(src='/clientscripts/global_de.js')
    else
      script(src='/clientscripts/global_en.js')
  body
    .page
      img(src='/img/SoftwerkskammerWappenLinks.png', alt='Softwerkskammer', width='234', height='60')
      h1 Session Snap for <em>#{activityResult.id()}</em>
      h2 Share your session results and <br/>see what others did at <i>softwerkskammer.org</i>
      .qrcode-container
        img(height = '300px', src='/qrcode/#{encodeURIComponent(activityResultUrl)}')
