extends ../../../views/layout

include  ../../../views/formComponents

block scripts
  script(src="/clientscripts/check-memberform.js")


block title
  | Profil&nbsp;
  - if (user.member)
    | bearbeiten
  - else
    | anlegen

block content
  form(id='memberform', action='/members/submit',method='post')
    fieldset
      .row
        .col-md-12
          legend
            | Profil&nbsp;
            if user.member
              | bearbeiten für Mitglied "#{member.nickname}"
            else
              | anlegen
      .row
        .col-md-6
          mixin hidden('id', member)
          mixin hidden('previousNickname', member, 'nickname')
          mixin hidden('created', member)
          mixin text('nickname', 'Nickname', member)
          mixin text('firstname', 'Vorname', member)
          mixin text('lastname', 'Nachname', member)
          mixin text('email', 'Email', member)
          mixin twitter('twitter', 'Twitter', member)
        .col-md-6
          mixin text('location', 'Ort / Region', member)
          mixin text('profession', 'Beruf', member)
          mixin text('interests', 'Interessenschwerpunkte', member)
          mixin text('site', 'Website / Blog', member)
          if !user.member
            mixin text('reference', 'Wie ich von der Softwerkskammer erfahren habe', member)
          else
            mixin hidden('reference', member)
          if (user.member && user.member.isAdmin)
            mixin checkbox('isAdmin', 'Administrator', !!member.isAdmin)
      
    .row
      .col-md-6
        legend Gruppenmitgliedschaft
        mixin groupCheckboxes('newSubscriptions', regionalgroups, themegroups)
      .col-md-6
        button.btn.btn-primary.pull-right(type="submit") Speichern
        if (user.member)
          a.btn.btn-default.pull-right(href="javascript:history.back()", type="cancel") Zurück
          if (user.member.id === member.id)
            a.btn.btn-default.pull-right(href="/auth/logout", type="cancel") Abmelden
        else
          a.btn.btn-default.pull-right(href="/auth/logout", type="cancel") Abbrechen
