extends ../../../views/layout

include members-forms

block scripts
  script(src='/clientscripts/check-memberform.js')

block title
  - if (accessrights.isRegistered())
    | #{t('members.edit')}
  - else
    | #{t('members.create')}

block content
  +memberform(member, regionalgroups, themegroups)
