extends ../../../views/layout

block scripts
  script(src="/clientscripts/jquery.validate-1.11.1.js")
  script(src="/clientscripts/messages_de.js")
  script(src="/clientscripts/check-memberform.js")


block title
  | Profil
  - if (user.registered)
    |  bearbeiten
  - else
    |  anlegen

block content
  form(id='memberform', action='submit',method='post')
    fieldset
      .span12
        legend
          | Profil
          - if (user.registered)
            |  bearbeiten für Mitglied "#{member.nickname}"
          - else
            |  anlegen
      .span6
        - if (!user.registered)
          mixin text('nickname', 'Nickname')
        mixin text('firstname', 'Vorname')
        mixin text('lastname', 'Nachname')
        mixin text('email', 'Email')
        mixin text('twitter', 'Twitter')
      .span6
        mixin text('location', 'Ort / Region')
        mixin text('profession', 'Beruf')
        mixin text('interests', 'Interessenschwerpunkte')
        mixin text('site', 'Website / Blog')

      .span12
        mixin textarea('reference', 'Wie ich von der Softwerkskammer erfahren habe')

      .span6
        legend Gruppenmitgliedschaft
        .control-group
          each markedGroup in markedGroups
            mixin checkbox(markedGroup.group.id, markedGroup.group.longName, markedGroup.selected)
          p
            button(class="btn btn-primary", type="submit") Speichern
            a(href="javascript:history.back()", class="btn", type="cancel") Zurück
            - if (user.registered)
              a(href="/auth/logout", class="btn", type="cancel") Abmelden

