extends ../../../views/layout
include ./memberlist-mixin

block title
  | #{t('members.overview')}

block content
  .page-header
    h2 #{t('members.members')}
  +memberlistHeading(t('members.has'), members.length)
  .row
    .col-md-6
      +memberlist(members)
    .col-md-6
      +tagCloud(members)

