extends ../../../views/layout
include ../../groupsAndMembers/views/gm-mixins

block title
  | Übersicht der Mitglieder

block content
  .span12
    .page-header
      h2 Mitglieder&nbsp;
        small Alle
    mixin memberlist(members)
