extends ../../../views/layout
include ./memberlist-mixin

block title
  | Übersicht der Mitglieder

block content
  .row-fluid
    .span12
      .page-header
        h2 Mitglieder&nbsp;
          small Alle
      mixin memberlist(members)
