extends ../../../views/layout
include ./memberlist-mixin

block title
  | #{t('members.overview')}

block content
  .row
    .col-md-12
      .page-header
        h2 #{t('members.members')}
      +memberlistHeading(t('members.has'), members.length)
      +memberlist(members)
