mixin tagCloud(wordList)
    //script(src='bower_components/jqcloud2/dist/jqcloud.min.js')
    //link(href='bower_components/jqcloud2/dist/jqcloud.min.css', rel='stylesheet')
    script.
        var jsonString = '!{JSON.stringify(wordList)}';
        $(document).ready(function() {
          $("#tag-cloud").jQCloud(JSON.parse(jsonString));
        });
