doctype html
html
  body
    h3 Confirmation / Best채tigung
    p.
      Hello #{member.displayName()},<br>
      we confirm that your payment for activity "#{activity.title()}" has reached our account.
    hr
    p. 
      Hallo #{member.displayName()},<br>
      hiermit best채tigen wir den Eingang Deiner Zahlung f체r die Aktivit채t "#{activity.title()}" auf unserem Konto.
