extends ../../../views/layout

include ./mailheader-mixin

block title
  | #{group} 
  | mails 

block content
  .span12
    .page-header
      mixin pageHeader(group)
      a(href=encodeURIComponent(group)+"?thread=true" ) Ansicht threaded
  .row-fluid
    .span12
      mixin mailIndex(mailHeaders)
