extends ../../../views/layout

include ./mailheader-mixin

block title
  | #{group} mails 

block content
  .row
    .col-md-12
      .page-header
        mixin pageHeader(group, "Threaded")
      .panel-group.pre-scrollable#mails
        - var mailNumber = 0;
        for mailHeader in mailHeaders
          - mailNumber = mailNumber + 1;
            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a.accordion-toggle(data-toggle="collapse", data-parent="#mails", href="#collapse" + mailNumber) #{mailHeader.subject}
                | (
                mixin mailattributes(mailHeader)
                | )
              .panel-collapse.collapse(id="collapse" + mailNumber)
                .panel-body
                  mixin mailIndex([mailHeader])
