extends ../../../views/layout

include ./mailheader-mixin

block title
  | #{group} 
  | mails 

block content
  .col-md-12
    .page-header
      mixin pageHeader(group)
  .row
    .col-md-12
        h4 Keine Mails
