extends ../../../views/layout

include ./mailheader-mixin


block title
  | #{group} mails 

block content
  .row
    .col-md-12
      .page-header
        mixin pageHeader(group)
        a(href=encodeURIComponent(group)+"?thread=true" ) Ansicht threaded
      .panel.panel-default.pre-scrollable
        mixin mailIndex(mailHeaders)
