extends ../../../views/layout

include ./mailheader-mixin

block scripts
  script(src="/clientscripts/change-mails-scrolling-height.js")

block title
  | #{group} 
  | mails 

block content
  .col-md-12
    .page-header
      mixin pageHeader(group)
      a(href=encodeURIComponent(group)+"?thread=false") Ansicht unthreaded
  .row
    .col-md-12
      #mails.pre-scrollable
        - var mailNumber = 0;
        for mailHeader in mailHeaders
          - mailNumber = mailNumber + 1;
          .accordion-group
            .accordion-heading
              a.accordion-toggle(data-toggle="collapse", href="#collapse" + mailNumber) 
                | #{mailHeader.subject}
            div.accordion-body.collapse(id="collapse" + mailNumber)
              .accordion-inner
                ul
                  li
                    a(href="../message?id=" + encodeURIComponent(mailHeader.id)) #{mailHeader.subject}
                    |  (
                    mixin mailattributes(mailHeader)
                    | )
                    mixin mailIndex(mailHeader.responses)
