mixin mailattributes(mailHeader)
  - if (mailHeader.memberNickname != null)
    a(href="/members/" + encodeURIComponent(mailHeader.memberNickname)) #{mailHeader.displayedSenderName}
  - else
    | #{mailHeader.displayedSenderName}
  | , 
  | #{mailHeader.displayedTime}
