extends ../../../views/layout

include ./mailheader-mixin

block title
  | E-Mail&nbsp; 
  -if (mail != null)
    | #{mail.subject}
  -else
    | nicht gefunden

block content
  .row
    .col-md-12
      .page-header
        -if (mail != null)
          h2 #{mail.subject}
            br
            small: mixin mailattributes(mail) 
        -else
          h2 Keine Mail vorhanden
      if (mail != null && mail.html != null)
        !{mail.getHtml()}
