include ../../lib/activities/views/activities-forms
include ../../lib/groups/views/groups-forms
include ../../lib/mailsender/views/mailsender-forms
include ../../lib/members/views/members-forms
include ../../lib/payment/views/paymentFormComponents
  
+activityform(activity, groups, [], [])

+groupform(group, allTypes, organizersChecked)

+mailform(message, regionalgroups, themegroups)

+memberform(member, regionalgroups, themegroups, [])

+paymentCreditCard(paymentInfo)
