.editable-click,
a.editable-click,
a.editable-click:hover {
    text-decoration: inherit;
    border-bottom: inherit;
}

@media (min-width: 980px) {
    .container.bottom {
        padding-top: 20px;
        margin-right: 0px;
    }

    .brand.no-padding {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 20px;
        padding-right: 10px
    }

    body {
        padding-top: 65px;
        padding-bottom: 65px
    }
}

td.fc-header-right {
    padding-top: 6px !important;
}

.verySmall {
    font-size: .8em;
    line-height: 1.1em;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
}

.ellipsis.narrow {
    max-width: 120px;
}

.pre-scrollable {
    max-height: 560px;
}

@media print {
    .btn, .no-print {
        display: none !important;
    }
}

@media screen {
    .print-only {
        display: none;
    }
}





.hero-unit {
    h2 {
        font-size: 16px;
        line-height: 21px;
    }
}
