.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}

.swipe-wrap {
    overflow: hidden;
    position: relative;
}

.swipe-wrap > div {
    float: left;
    width: 100%;
    position: relative;
}

// Bullets
#slider.swipe {
    .swipe-wrap {

    }
    nav {
        position: relative;
        max-width: 680px;
        margin: 0 auto;
        a {
            font-style: normal;
            color: #555 !important
        }
        ul#position {
            text-align: center;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 10px;
                background: #141414;
                box-shadow: inset 0 1px 3px black, 0 0 1px 1px #202020;
                margin: 0 2px;
                cursor: pointer;
                &.on {
                    box-shadow: inset 0 1px 3px -1px #28b4ea, 0 1px 2px rgba(0, 0, 0, .5);
                    background-color: #1293dc;
                    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1293dc), color-stop(100%, #0f6297));
                    background-image: -webkit-linear-gradient(top, #1293dc, #0f6297);
                    background-image: -moz-linear-gradient(top, #1293dc, #0f6297);
                    background-image: -ms-linear-gradient(top, #1293dc, #0f6297);
                    background-image: -o-linear-gradient(top, #1293dc, #0f6297);
                    background-image: linear-gradient(top, #1293dc, #0f6297)
                }
            }
        }
    }
}