.modal-header
  if (!content)
    h3.modal-title No Content
  else
    h3.modal-title #{t('wiki.wiki')} "#{subdir}"
  button.btn-close(type='button', data-bs-dismiss='modal', aria-hidden='true')
.modal-body
  if (content)
    | !{content}
