.modal-header
  if (!content)
    h3.modal-title No Content
  else
    h3.modal-title #{t('wiki.wiki')} "#{subdir}"
  button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
.modal-body
  if (content)
    | !{content}
