extends ../../../views/layout

include  ../../../views/formComponents

block scripts
  script(src="/clientscripts/check-mailsenderform.js")

block title
  | Nachricht

block content
  form(id='mailform', action='/mailsender/send', method='post')
    fieldset
      .row
        .col-md-12
          legend
            | Nachricht schreiben
          if (typeof(regionalgroups) !== 'undefined')
            mixin groupCheckboxes('invitedGroups', regionalgroups, themegroups)
          if (typeof(message.receiver) !== 'undefined')
            mixin textReadonly('nickname', 'An Mitglied', message.receiver)
          mixin text('subject', 'Betreff', message)
          mixin hightextarea('markdown', 'Inhalt', message)
          mixin checkbox('sendCopyToSelf', 'Eine Kopie an mich senden', false)
          mixin hidden('htmlAddOn', message)
          input(id="successURL", type="hidden", name="successURL", value="#{successURL}")

          button.btn.btn-primary.pull-right(type="submit") Senden
          a.btn.btn-default.pull-right(href="javascript:history.back()", type="cancel") Zurück
