extends ../../../views/layoutOnlyMain

include  ../../../views/formComponents

block title
  = activityResultName + " / Edit Photo"

block content
  form(role="form",method="post")
    +csrf
    .row
      .col-md-4.thumbnail-container
        h4 Step #1: Look at the preview
        img#thumbnail(src=photo.uri + '?size=thumb')
      .col-md-4
        h4 Step #2: Pick a room
        ul.tag-list
          li
            input#tag-hopper(type="radio",name="tag",value="hopper")
            label.btn.btn-default(for="tag-hopper") # Hopper
          li
            input#tag-lovelace(type="radio",name="tag",value="lovelace")
            label.btn.btn-default(for="tag-lovelace") # Lovelace
          li
            input#tag-liskov(type="radio",name="tag",value="liskov")
            label.btn.btn-default(for="tag-liskov") # Liskov
    .row
      .col-md-8
        h4 Step #3: What's on that photo?
        .form-group
          label(for="text-title") Title
          input.form-control#text-title(type="text",name="title",value=photo.title)

     .row
       .col-md-2.col-md-offset-6(style="text-align:right")
         button.btn.btn-default(type="submit") Step #4: Submit
