extends ../../../views/layoutOnlyMain

include  ../../../views/formComponents

block title
  = activityResultName

block content
  .row
    .col-md-12
      .page-header
        h2= activityResultName

  .row
    .col-md-6
