mixin thumbnailInfos(img)
  - var shortTitle = shortenTitle(img.title);
  - var timestamp = img.timestamp;
  - if (img.title && img.title.length > 0 && timestamp) {
  | #{shortenTitle(img.title)} - #{moment(img.timestamp).format("LT")}
  - } else if (img.title && img.title.length > 0) {
  = shortenTitle(img.title)
  - } else if (timestamp) {
  = moment(img.timestamp).format("LT")
  - }
