extends ../../../views/layout

include  ../../../views/formComponents

block title
  | Hier gibt es (noch) nichts zu sehen

block content
  .row
    .col-md-12
      .page-header
        h2 Hier gibt es (noch) nichts zu sehen

  .row
    .col-md-6
      form(role='form',method='POST',action=createUri)
        +csrf
        .form-group
          label(for='inputName') Name
          input.form-control#inputName(name='activityResultName',type='text',readonly='readonly',value='#{activityResultName}')
        .form-group
          label(for='inputTag') Tags (comma-separated)
          input.form-control#inputTags(name='tags',type='text')
        .form-group
          button.btn.btn-primary(type='submit') Jetzt anlegen
