extends ../../../views/layoutOnlyMain

include  ../../../views/formComponents

block title
  = activityResultName + " / Upload"

block content
  .row
    .col-md-12
      form(method="post",role="form")
        +csrf
        div
          span.btn.btn-primary.btn-file(style="width: 100%")
            i.glyphicon.glyphicon-camera &nbsp;
            span RECORD
            input#input-file(type="file",accept="image/*")
        div#previewContainer(style="display: none")
          img#preview(style="max-width: 80%")
          div
            button(type="submit").btn.btn-success SUBMIT
            span#btn-cancel.btn.btn-warning CANCEL


      script.
        function getPreview(files, callback) {
          if(!files || !files[0])
            return null;
          var reader = new FileReader();
          reader.onload = function (e) {
            callback(e.target.result);
          };
          reader.readAsDataURL(files[0]);
        }

        $("#input-file").on("change", function () {
          getPreview(this.files, function (imagedata) {
            $("img#preview").attr("src", imagedata);
            $("#previewContainer").css("display", "block");
          });
        });
