extends ../../../views/commonLayout
block title 
  | Contact - SoCraTes
block content
  .page-header
    h1
      | Get in contact&nbsp;
      span.text-muted with us.
  p.lead You can get in touch with us – the organizers of SoCraTes 2015 – by sending an email or just contact us on Twitter.
  .row
    .col-sm-6
      .panel.panel-info
        .panel-heading
          h3.panel-title
            i.fa.fa-envelope
            |  Email
        .panel-body
          p Turn on your email client and mailto: 
            span.mailtoify info@socrates-conference.de
    .col-sm-6
      .panel.panel-info
        .panel-heading
          h3.panel-title
            i.fa.fa-twitter
            |  Twitter
        .panel-body
          p 
            | Follow  
            span.twitterify socrates_2015
            |  on Twitter to stay up-to-date.
