extends ../../../views/layout

block title
  |  Experience Reports - SoCraTes
block content
  .row
    .col-sm-12
      .page-header
        h1 Experience Reports
  .row
    .col-sm-12
      p To get an impression of what SoCraTes is like, check out some of the experience reports the attendees wrote:

      h3 2015
      ul
        +bloglink('https://blog.cto.hiv/the-magic-of-socrates-conference', 'The magic of Socrates Conference', 'Markus Tacker a.k.a. coder::by(♥);')
        +bloglink('http://roth-soft.de/software-craftsmanship/socrates2015-this-is-home-my-crowd-my-family/', '“This is home. This is my crowd. My family.”', 'Stephan Roth')
        +bloglink('http://thilko.com/blog/2015/08/30/socrates-2015/', 'SoCraTes 2015', 'Thilko Richter')
        +bloglink('https://www.zweitag.de/de/blog/news-events/socrates-conference-2015', 'SoCraTes Conference 2015', 'Heiko Zeus')
        +bloglink('http://we-press-buttons.blogspot.de/2015/09/socrates-2015-what-fk.html', 'Socrates 2015 - What the f**k', 'Maik Töpfer')
        +bloglink('http://blog.soler-sanandres.net/SoCraTes2015/', 'SoCraTes Conferences (SoCraTes 2015)', 'Alexandre Soler Sanandres')

      h3 2014
      ul
        +bloglink('http://blog.8thlight.com/doug-bradbury/2014/08/12/socrates-2014-a-vibrant-german-software-craftsmanship-community.html', 'SoCraTes 2014 — A Vibrant German Software Craftsmanship Community', 'Doug Bradbury from 8th Light')
        +bloglink('http://www.uxebu.com/blog/2014/08/socrates-2014/', 'SoCraTes 2014', 'Wolfram Kriesing from Uxebu')
        +bloglink('http://blog.soler-sanandres.net/Socrates14/', 'SoCraTes 2014', 'Alexandre Soler Sanandres')
        +bloglink('http://www.bn2vs.com/blog/2014/08/11/socrates-2014/', 'SoCraTes 2014', 'Jeroen De Dauw')
        +bloglink('http://qualocustech.wordpress.com/2014/08/12/i-edited-code-using-this-one-weird-vim-trick-you-wont-believe-what-happened-next/', 'I edited code using this one weird vim trick. You won’t believe what happened next…', 'Christo Fogelberg')

      h3 2013
      ul
        +bloglink('http://blog.florian-hopf.de/2013/08/socrates-2013-two-days-of-open-space.html', 'SoCraTes 2013 - Two Days of Open Space', 'Florian Hopf')
        +bloglink('http://monospacedmonologues.com/post/58252924228/socrates-2013', 'SoCraTes 2013', 'Samir Talwar')
        +bloglink('https://blog.codecentric.de/en/2013/08/socrates2013/', 'SoCraTes2013', 'Robert Hostlowsky')

      h3 2012
      ul
        +bloglink('http://davidtanzer.net/socrates12', 'SoCraTes 2012', 'David Tanzer')
        +bloglink('http://www.arolla.fr/blog/2012/08/socrates-2012-my-best-conference-ever/', 'SoCraTes 2012, my best conference ever! (in French)', 'Cyrille Martraire from Arolla')
        +bloglink('http://monospacedmonologues.com/post/29559774168/socrates-2012', 'SoCraTes 2012 -- Or, how I learned to stop worrying and love the weizenbier.', 'Samir Talwar')
        +bloglink('https://pboop.wordpress.com/2012/10/02/how-i-made-my-dream-come-true/', 'How I Made My Dream Come True', 'Andreas Leidig')
