extends ../../../views/layoutNoFooter
block title
  | Good-Bye
block content
  .jumbotron
    !=t('general.goodbye_text_top', {postProcess: 'pug'})
    hr
    p.text-right #{t('general.goodbye_text_bottom')}
    p.text-right
      a.btn.btn-primary(data-toggle='modal', data-target='#login', href='/loginDialog?returnUrl=' + encodeURIComponent(currentUrl ||  '/'))
        i.fa.fa-sign-in.fa-fw
        | &nbsp;#{t('general.login')}
