.sponsor-sidebar
  h3 Sponsors
  p We are glad to be supported by the following sponsors.
    br
    a(href='sponsoring.html') Want to become a Sponsor too?

  .sponsorlogo
    a(href='http://www.andrena.de/', target='_blank'): img(src='logos/andrena160.png', alt='andrena objects')
  .sponsorlogo
    a(href='http://www.codecentric.de', target='_blank'): img(src='logos/codecentric160.png', alt='codecentric')
  .sponsorlogo
    a(href='http://www.holisticon.de', target='_blank'): img(src='logos/holisticon160.png', alt='Holisticon')
  .sponsorlogo
    a(href='http://www.innoq.de', target='_blank'): img(src='logos/innoq.png' alt='innoQ')
  .sponsorlogo
    a(href='http://www.it-agile.de', target='_blank'): img(src='logos/it-agile160.png', alt='it-agile')
  .sponsorlogo
    a(href='http://www.klosebrothers.de', target='_blank'): img(src='logos/klosebrothers160.png', alt='klose brothers')
  .sponsorlogo
    a(href='http://www.mozaicworks.com', target='_blank'): img(src='logos/mozaic_works160.png', alt='Mozaic Works')
  .sponsorlogo
    a(href='http://www.msg-gillardon.de', target='_blank'): img(src='logos/msgGillardon160.png', alt='msgGillardon')
  .sponsorlogo
    a(href='http://www.namics.de', target='_blank'): img(src='logos/namics.jpg', alt='Namics (Deutschland) GmbH' width="160px")
  .sponsorlogo
    a(href='http://www.oose.de', target='_blank'): img(src='logos/oose.png', alt='oose. Innovative Informatik' width="160px")
  .sponsorlogo
    a(href='http://qafoo.com', target='_blank'): img(src='logos/qafoo160.png', alt='Qafoo')
  .sponsorlogo
    a(href='http://www.smartsquare.de', target='_blank'): img(src='logos/smartsquare160.png', alt='Smartsquare')
  .sponsorlogo
    a(href='http://www.thoughtworks.com', target='_blank'): img(src='logos/thoughtworks160.png', alt='ThoughtWorks')
  .sponsorlogo
    a(href='http://www.tngtech.com', target='_blank'): img(src='logos/tng160.png', alt='TNG Technology Consulting')
  .sponsorlogo
    a(href='http://www.uxebu.com', target='_blank'): img(src='logos/uxebu.png', alt='uxebu')
