.jumbotron
  img(src='img/socrates2014_logo_40perc.png', alt='SoCraTes Conference 2015 - Software Craftsmanship and Testing')
  h1 SoCraTes 2015
  p.lead 4th International Software Craftsmanship and Testing Conference in Germany
  p.lead August 27-30 2015, Soltau, Germany
