.jumbotron
  img(src='img/socrates2014_logo_40perc.png', alt='SoCraTes Conference 2014 - Software Craftsmanship and Testing')
  h1 SoCraTes 2014
  p.lead 4th International Software Craftsmanship and Testing Conference in Germany
  p.lead August 7-10 2014, Soltau, Germany
  p: a.btn.btn-lg.btn-success(href='https://www.softwerkskammer.org/activities/socrates-2014', role='button') Register Now
