extends ../../../views/layout
block title
  | SoCraTes 2016 - 6th International Software Craftsmanship and Testing Conference, 25-28 August 2016, Soltau, Germany
block before-container
  .jumbotron.stage-background
    .container
      img.logo-left(src='img/socrates2016_logo.png', alt='SoCraTes Conference 2016 - Software Craftsmanship and Testing')
      h1 SoCraTes 2016
      h2: small 6th International Software Craftsmanship and Testing Conference in Germany
      h2: small 25 - 28 August 2016, Soltau, Germany
      p: a.btn.btn-primary.pull-right(href='/registration') Pricing and Registration…

block content
  .row
    .col-sm-8
      .row
        .col-xs-12
          .page-header
            h2 What it is about

          p This event is about the sustainable creation of useful software in a responsible way.

          h3 It's about People
          p Everyone who is concerned with coding, testing, code quality, software craftsmanship, if&nbsp;&hellip;
          ul
            li you are passionate about software development and testing.
            li you have already heard of Software Craftsmanship or even already are part of the growing community.
            li you want to share your knowlege, experience and expertise.

          h3 It's about Action
          p The event will be run as a non-profit, low-cost event. It is a joint-effort of all #{''}
            a(href='http://www.softwerkskammer.org', target='_blank') Softwerkskammer
            |  groups, the community of all German-speaking Software Craftsmanship groups.
            | It will be much like a retreat. We will be there for 48 hours to
            | collaborate and share ideas. There will be:
          ul
            li Highly collaborative interactions
            li A self-organized Open Space, with &hellip;
              ul
                li hands-on coding sessions
                li sessions focused on discussion
                li interactive talks
                li lots more
          h3 It's about Fun
          p.
            We will not only spend the days together but also the nights. And &ndash; believe it or not &ndash; programmers
            are a great company! There will be be lots of opportunities to spend your time. Starting with simple chilling over
            hiking and biking, playing games, hanging around, talking, laughing, &hellip;
          p
            a.btn.btn-primary(href='schedule.html', role='button')
              span.glyphicon.glyphicon-time
              |  Check out the full schedule
        .col-xs-12
          .row
            .col-sm-12
              hr
              h4 Partner Conferences
          .row
            .col-sm-6
              h5
                +extlink('http://www.codefreeze.fi/', 'CodeFreeze')
                br
                small 11 - 12 Jan 2016 , Kiilopää, Finland
            .col-sm-6
              h5
                +extlink('http://www.socrates-conference.es/', 'SoCraTes Canaries')
                br
                small 10 - 13 Mar 2016, Gran Canaria
            .col-sm-6
              h5
                +extlink('http://socrates-it.github.io/', 'SoCraTes Italy')
                br
                small 12 - 14 May 2016, Rimini
            .col-sm-6
              h5
                +extlink('http://socrates-day.ch/', 'SoCraTes Day Switzerland')
                br
                small 17 May 2016, Zurich
            .col-sm-6
              h5
                +extlink('http://itakeunconf.com/', 'I T.A.K.E. Unconference')
                br
                small 19 - 20 May 2016, Bucharest
            .col-sm-6
              h5
                +extlink('http://socratesuk.org/', 'SoCraTes UK')
                br
                small 2 - 5 June 2016, Dorking
            .col-sm-6
              h5
                +extlink('http://socrates-fr.github.io', 'SoCraTes France')
                br
                small 27 - 30 Oct 2016, Rochegude
            .col-sm-6
              h5
                +extlink('http://socratesbe.org', 'SoCraTes BE')
                br
                small &nbsp
                // TODO update when they have new dates: small 22 - 25 Oct 2015, Nieuwpoort



    .logocolumn.col-sm-4.col-md-3.col-lg-4.col-md-offset-1.col-lg-offset-0
      .sidebar
        .page-header
          h2 Our Sponsors
        each pair, index in sponsors
          .row
            +sponsorCol(pair.first)
            if (pair.second)
              hr.sponsorline.hidden-lg
              +sponsorCol(pair.second)
          .row
            hr.sponsorline.hidden-lg
            .col-lg-12.visible-lg-block
              hr
        a.btn.btn-info.pull-right(href='/sponsoring.html', style='width:160px;margin-bottom: 15px;')
          span.glyphicon.glyphicon-thumbs-up
          |  Sponsor us



mixin sponsorCol(sponsor)
  .col-lg-6
    a(href=sponsor.url, target='_blank'): img(src='logos/' + sponsor.logo, alt=sponsor.name, width='160')
