extends ../../../views/commonLayout

block title 
  | SoCraTes 2015 - 5th International Software Craftsmanship and Testing Conference, 27-30 August 2015, Soltau, Germany
block before-container
  .jumbotron
    .container
      img.logo-left(src='img/socrates2015_logo.png', alt='SoCraTes Conference 2015 - Software Craftsmanship and Testing')
      h1 SoCraTes 2015
      p 5th International Software Craftsmanship and Testing Conference in Germany
      p 27 - 30 August 2015, Soltau, Germany
block content
  .row
    .col-sm-8
      .row
        .col-xs-12
          .page-header
            h1 
              | What is it about?&nbsp;
              small Some key facts.
          p.lead This event is about the sustainable creation of useful software in a responsible way.
          
          h2 It's about People
          
          p.lead Everyone who is concerned with coding, testing, code quality, software craftsmanship, and/or if &hellip;
          ul.square
            li you are passionate about software development and testing.
            li you have already heard of Software Craftsmanship or even already are part of the growing community.
            li you want to share your knowlege, experience and expertise.
          
          h2 It's about Action
          p.lead The event will be run as a non-profit, low-cost event. It is a joint-effort of all #{''}
            a(href='http://www.softwerkskammer.org', target='_blank') Softwerkskammer
            |  groups, the community of all German-speaking Software Craftsmanship groups.
            | It will be much like a retreat. We will be there for 48 hours to
            | collaborate and share ideas. There will be:
          ul.square
            li Highly collaborative interactions
            li A self-organized Open Space, with &hellip;
            ul.square
              li hands-on coding sessions
              li sessions focused on discussion
              li interactive talks
              li lots more
          p
            a.btn.btn-primary(href='schedule.html', role='button')
              span.glyphicon.glyphicon-time
              |  Check out the full schedule
        .col-xs-12
          .row
            .col-sm-12
              hr
              h4 Partner Conferences
          .row
            .col-sm-4
              h5
                a(href='http://socrates.shiki.es/') SoCraTes Canaries 2015
                br
                small 26 Feb - 1 Mar, Teneriffa
            .col-sm-4
              h5
                a(href='http://socratesuk.org/') SoCraTes UK 2015
                br
                small 4 - 7 June, Farncombe Estate
            .col-sm-4
              h5
                a(href='http://2015.itakeunconf.com/') I T.A.K.E. Unconference
                br
                small 28 - 29 May, Bucharest



    .col-sm-4.col-md-3.col-md-offset-1
      .sidebar
        h3 Sponsors
          small  in 2014
        each sponsor, index in sponsors
          a(href=sponsor.url, target='_blank'): img(src='logos/' + sponsor.logo, alt=sponsor.name, width='160px')
          if (index < sponsors.length -1)
            hr.sponsorline
