include ../../../views/authentication-mixin

doctype html
html
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
    h3 #{t('authentication.authentication')}
  .modal-body
    .row
      .col-md-12
        p #{t('authentication.authentication_text')}
    +authentication(returnUrl)
