extends ../../../views/layout

block title
  | Protected Area
block content
  .row
    .col-md-6
      h3 You can only access this page as SoCraTes admin!
      p You tried to access a page that requires SoCraTes admin access rights.
      p If this is a bug in the application, we kindly to ask you to&nbsp;
        a(href='https://github.com/softwerkskammer/Agora/issues/') submit an issue.
      p: a.btn.pull-right.btn-primary(href='javascript:history.back()') Back
    .col-md-6
      h3 Information
      p The protected page was: <br>
        | #{requestedPage}
      p Please include this information in your error report.
