extends ../../../views/layout
block title 
  | Values - SoCraTes
block content
  .row
    .col-md-12
      .page-header
        h1 The Values of SoCraTes 2016
      .well
        h3 Inclusiveness
        p.
          A primary goal of SoCraTes conference is to be inclusive to the largest
          number of contributors, with the most varied and diverse backgrounds
          possible.
        h3 Safe Environment
        p.
          As such, we are committed to providing a friendly, safe and
          welcoming environment for all, regardless of gender, sexual orientation,
          programming language, ability, ethnicity, socioeconomic status, and religion
          (or lack thereof).
      p.
        And so we invite all those who participate in the SoCraTes conference and the
        community surrounding the conference to help us create safe and positive
        experiences for everyone.
      ul
        li: strong Be welcoming, friendly, and patient.
        li
          strong Be respectful. #{''}
          | Not all of us will agree with each other all the time, but disagreement is no excuse for poor behavior and poor
          | manners. We might all experience some frustration now and then, but we cannot allow that frustration to turn into a personal attack.
        li
          strong Be aware of the effect your words may have on others. #{''}
          | We are a community of professionals, and we conduct ourselves professionally. Be kind to others. Do not insult or put down other
          | participants. Harassment and other exclusionary behavior aren't acceptable.
      h3 Scope
      p.
        This code of conduct applies to the SoCraTes conference itself and to all digital spaces that are related to the SoCraTes conference, 
        such as the wiki and mailing list.
  .row
    .col-md-6
      h4 Credits
      p These values are inspired by the following works.
      ul
        li: +extlink('https://www.djangoproject.com/conduct/', 'Django Code of Conduct')
        li: +extlink('http://citizencodeofconduct.org/', 'Citizenship Code of Conduct')
    .col-md-6
      h4 Further Questions?
      p Feel invited to contact us via one of the buttons below.
