extends ../../../views/layout
include ../../../../softwerkskammer/lib/payment/views/paymentFormComponents
  
block title
  | #{t('payment.title')}

block content
  .row
    .col-md-12
      .page-header
        h2 #{t('payment.title')}
      if amount && !paymentDone
        p #{t('payment.how_to_pay_detail')}
        p The 
          a(href='/payment') payment can also be done by somebody else
          | , e.g. your company's finance department can pay for
          | multiple participants at once. Please make sure that the description includes the names of all participants 
          | in question and that the amount is 100 € per participant.
          
  if amount && !paymentDone
    .row
      .col-md-6
        +paymentMoneyTransfer(paymentInfo, '/payment/submitTransferSocrates', amount, id)
      .col-md-6
        +paymentCreditCard(paymentInfo, 'notNeededWhenAmountIsGiven', '/payment/submitCreditCardSocrates', amount, fee, title, id)
  else if amount && paymentDone
    .row
      .col-md-6
        +paymentMoneyTransfer(paymentInfo)
      .col-md-6
        .panel.panel-default
          .panel-heading
            h4.panel-title Already Paid.
          .panel-body
            p #{t('payment.payment_done')}
  else
    .row
      .col-md-6
        +paymentMoneyTransfer(paymentInfo)
      .col-md-6
        +paymentCreditCard(paymentInfo, placeholder, '/payment/submitCreditCard')
  
