extends ../../../views/layout

include  ../../../views/formComponents

block scripts
  script(src="/clientscripts/check-announcementform.js")

block title
  | Nachricht

block content
  form(id='announcementform', action='/announcements/submit', method='post')
    if (announcement.id)
      mixin hidden('id', announcement)
    mixin hidden('fromUnix', announcement)
    mixin hidden('previousUrl', announcement, 'url')
    mixin hidden('author', announcement)
    fieldset
      .row
        .col-md-12
          legend
            | Nachricht
            if (announcement.id)
              |  bearbeiten
            else
              |  anlegen
      .row
        .col-md-6
          mixin text('title', 'Titel', announcement)
          mixin text('url', 'URL', announcement)
        .col-md-6
          mixin date('thruDate', 'Anzeigen bis einschließlich', announcement, announcement.thruDate())
      .row
        .col-md-12
          mixin hightextarea('message', 'Text der Nachricht', announcement)
      .row
        .col-md-12
          button.btn.btn-primary.pull-right(type="submit") Speichern
          a.btn.btn-default.pull-right(href="javascript:history.back()", type="cancel") Zurück
