extends ../../../views/layout

include  ../../../views/formComponents

block scripts
  script(src="/clientscripts/check-announcementform.js")

block title
  | Nachricht

block content
  form(id='announcementform', action='/announcements/submit', method='post')
    if (announcement.id)
      mixin hidden('id', announcement)
    mixin hidden('fromUnix', announcement)
    mixin hidden('previousUrl', announcement, 'url')
    mixin hidden('author', announcement)
    fieldset
      .row-fluid
        .span12
          legend
            | Nachricht
            if (announcement.id)
              |  bearbeiten
            else
              |  anlegen
      .row-fluid
        .span6
          mixin text('title', 'Titel', announcement)
          mixin text('url', 'URL', announcement)
          // TODO: url automatisch aus dem title bilden lassen, z. B. Leerzeichen in Bindestriche umwandeln, alles klein schreiben etc.
          mixin textarea('message', 'Text der Nachricht', announcement)
          mixin date('thruDate', 'Anzeigen bis einschließlich', announcement, announcement.thruDate())
      .row-fluid
        .span12
          button.btn.btn-primary.pull-right(type="submit") Speichern
          a.btn.pull-right(href="javascript:history.back()", type="cancel") Zurück
