extends ../../../views/layout

block title
  | Aktuelles

block content
  .span12
    .page-header
      h2 Nachrichten&nbsp;
        small Alle
        - if (typeof(user) !== 'undefined' && user.member.isAdmin)
            a.pull-right.btn(href="new/"): i.icon-file

    dl.dl-horizontal
      for announcement in announcements
        dt #{moment.unix(announcement.fromDate).format('DD.MM.YYYY')}
        dd
            a(href='#{encodeURIComponent(announcement.url)}') #{announcement.title}
