extends ../../../views/layout

block title
  | Aktuelles

block content
  .row
    .col-md-12
      .page-header
        h2 Nachrichten&nbsp;
          .btn-group.pull-right
            if (typeof(user) !== 'undefined' && user.member.isAdmin)
              a.pull-right.btn.btn-default(href="new/", title="Neue Nachricht"): i.icon-file
          small Alle
  
      dl.dl-horizontal
        for announcement in announcements
          dt #{announcement.fromDate()}
          dd
            a(href='#{encodeURIComponent(announcement.url)}') #{announcement.title}
