extends ../../../views/layout

block title
  | Credits
block content
  .span6
    h2 Server
    dl.dl-horizontal
      dt Node.js:
      dd: a(link="http://nodejs.org") Plattform
      dt MongoDB Treiber:
      dd: a(link="http://mongodb.github.io/node-mongodb-native/contents.html") Persistenz
      dt Async:
      dd: a(link="https://github.com/caolan/async") Funktionale Erweiterungen
      dt Express:
      dd: a(link="http://expressjs.com/api.html") Applikationsframework
      dt Winston:
      dd: a(link="https://github.com/flatiron/winston") Logging
      dt Winston-Config:
      dd: a(link="https://github.com/triplem/winston-config") Logging Einfach
      dt Underscore:
      dd: a(link="http://underscorejs.org") Funktionale Erweiterungen
      dt Underscore String:
      dd: a(link="http://epeli.github.com/underscore.string/") String Erweiterungen
      dt Moment:
      dd: a(link="http://momentjs.com/") Datum und Uhrzeit leicht gemacht
      dt Markdown.js:
      dd: a(link="https://github.com/evilstreak/markdown-js/") Markdown nach HTML
      dt Connect-Mongo:
      dd: a(link="https://github.com/kcbanner/connect-mongo/") Persistente Sessions
      
  .span6
    h2 Frontend
    dl.dl-horizontal
      dt Twitter Bootstrap:
      dd: a(link="http://twitter.github.io/bootstrap/index.html") UI Basis
      dt JQuery:
      dd: a(link="http://api.jquery.com") API Referenz
      dt JQuery Validation:
      dd: a(link="http://docs.jquery.com/Plugins/Validation/") Frontend Validierung
      dt Bootstrap-Markdown:
      dd: a(link="http://toopay.github.com/bootstrap-markdown/") Markdown Editor für Textareas
      dt X-Editable:
      dd: a(link="http://vitalets.github.io/x-editable/") Inline Editieren
      dt Bootstrap-Colorpicker:
      dd: a(link="http://www.eyecon.ro/bootstrap-colorpicker") Farben auswählen
      dt Full Calendar:
      dd: a(link="http://arshaw.com/fullcalendar/") Der Kalender
      dt Font-Awesome:
      dd: a(link="http://fortawesome.github.com/Font-Awesome/") Bessere Icons für Buttons etc.

  .row-fluid
    .span8.offset2.well
      h3 Credits
      p Diese Site ist freie Software und ihre Entstehung wäre ohne das Vorhandensein freier Software undenkbar. An dieser
        | Stelle möchten wir uns ausdrücklich bei allen bedanken, die ihre Arbeit uneigennützig zur freien Verwendung zulassen,
        | indem wir diese Arbeit hier erwähnen.

