extends ../../../views/layout

include ../../../views/layoutComponents

mixin defItem(title, url, text)
  dt #{title}:
  dd: mixin externalUrl(url, text)

block title
  | Credits
block content
  .row
    .col-md-6
      h2 Server
      dl.dl-horizontal
        mixin defItem('Node.js', 'http://nodejs.org', 'Plattform')
        mixin defItem('MongoDB Treiber', 'http://mongodb.github.io/node-mongodb-native/contents.html', 'Persistenz')
        mixin defItem('Async', 'https://github.com/caolan/async', 'Funktionale Erweiterungen')
        mixin defItem('Express', 'http://expressjs.com/api.html', 'Applikationsframework')
        mixin defItem('Winston', 'https://github.com/flatiron/winston', 'Logging')
        mixin defItem('Winston-Config', 'https://github.com/triplem/winston-config', 'Logging Einfach')
        mixin defItem('Underscore "_"', 'http://underscorejs.org', 'Funktionale Erweiterungen')
        mixin defItem('Underscore String "_s"', 'http://epeli.github.com/underscore.string/', 'String Erweiterungen')
        mixin defItem('Moment', 'http://momentjs.com/', 'Datum und Uhrzeit leicht gemacht')
        mixin defItem('Marked.js', 'https://github.com/chjj/marked', 'Markdown nach HTML')
        mixin defItem('Node-syntaxhighlighter.js', 'https://github.com/thlorenz/node-syntaxhighlighter', 'Syntax Highlighting in markdown')
        mixin defItem('Connect-Mongo', 'https://github.com/kcbanner/connect-mongo/', 'Persistente Sessions')
        
    .col-md-6
      h2 Frontend
      dl.dl-horizontal
        mixin defItem('Twitter Bootstrap', 'http://twitter.github.io/bootstrap/index.html', 'UI Basis')
        mixin defItem('JQuery', 'http://api.jquery.com', 'API Referenz')
        mixin defItem('JQuery Validation', 'http://docs.jquery.com/Plugins/Validation/', 'Frontend Validierung')
        mixin defItem('Bootstrap-Markdown', 'http://toopay.github.com/bootstrap-markdown/', 'Markdown Editor für Textareas')
        mixin defItem('X-Editable', 'http://vitalets.github.io/x-editable/', 'Inline Editieren')
        mixin defItem('Bootstrap-Colorpicker', 'http://www.eyecon.ro/bootstrap-colorpicker', 'Farben auswählen')
        mixin defItem('Full Calendar', 'http://arshaw.com/fullcalendar/', 'Der Kalender')
        mixin defItem('Font-Awesome', 'http://fortawesome.github.com/Font-Awesome/', 'Bessere Icons für Buttons etc.')
        mixin defItem('Swipe.js', 'https://github.com/bradbirdsall/Swipe/', 'Swipe-Slider auf der Homepage')

  .row
    .col-md-8.col-md-offset2.well
      h3 Credits
      p Diese Site ist freie Software und ihre Entstehung wäre ohne das Vorhandensein freier Software undenkbar. An dieser
        | Stelle möchten wir uns ausdrücklich bei allen bedanken, die ihre Arbeit uneigennützig zur freien Verwendung zulassen,
        | indem wir diese Arbeit hier erwähnen.
  
