extends ../../../views/layout

block title
  | Geschützter Bereich
block content
  .row
    .col-md-6
      h3 Um auf diese Seite zuzugreifen, musst Du Superuser sein!
      p Du wolltest auf eine Seite zugreifen, für die Du Superuserrechte brauchst.
      p Sollte dies ein Fehler in der Anwendung sein, bitten wir um 
        a(href='https://github.com/softwerkskammer/Agora/issues/') Rückmeldung.
      p Das Agora-Team bittet um Entschuldigung.
      p: a.btn.pull-right.btn-primary(href='javascript:history.back()') Zurück
    .col-md-6
      h3 Information
      p Die geschützte Seite war: <br> 
        | #{requestedPage}
      p Bitte teile uns dies in der Fehlermeldung mit.
