{
  "env": {
    "browser": true,
    "jquery": true,
    "mocha": true
  },
  "rules": {
    "camelcase": 0,
    "strict": [2, "function"]
  },
  "globals": {
    "expect": true,
    "sinon": true
  }
}
