include  ../../../views/formComponents
include ../../registration/views/userinfoform

extends ../../../views/simpleLayout

block scripts
  script(src='/clientscripts/check-memberform.js')
  script(src='/clientscripts/check-socrates-memberform.js')

block title
  - if (accessrights.isRegistered())
    | #{t('members.edit')}
  - else
    | #{t('members.create')}

block content
  form#memberform.relaxed(action='/members/submit',method='post')
    +csrf
    .row
      .col-sm-12
        legend
          h4 #{t('members.personal_data')}

    +memberinfoform(member, 'members.edit_preregistration')
    +memberSubmitButtons(t('general.save'))
