include  ../../../views/formComponents
include ../../registration/views/userinfoform
include ../../../../softwerkskammer/lib/payment/views/paymentFormComponents

extends ../../../views/simpleLayout

block scripts
  script(src='/clientscripts/check-memberform.js')
  script(src='/clientscripts/check-socrates-memberform.js')

block title
  - if (accessrights.isRegistered())
    | #{t('members.edit')}
  - else
    | #{t('members.create')}

block content
  form#memberform.relaxed(action='/members/submit',method='post')
    +csrf
    .row
      .col-sm-12
        legend
          h4 #{t('members.personal_data')}

    +memberinfoform(member, accessrights.isRegistered() ? null : 'members.edit_preregistration')
    if addon
      +userinfoform(addon)
      p &nbsp;
      if (!payment.paymentDone())
        .pull-right
          a.btn.btn-warning(href='/payment/socrates')
            i.fa.fa-money.fa-fw &nbsp;
            | Pay deposit
      else
        .pull-right
          a.btn.btn-success(href='/payment/socrates')
            i.fa.fa-money.fa-fw &nbsp;
            | Payment
      .gutter
      p &nbsp;
    +memberSubmitButtons(t('general.save'))
