mixin resignBanner(registration)
  if registration.alreadyRegistered || registration.alreadyOnWaitinglist
    .row
      .col-md-12
        .alert.alert-warning
          p.large-text
            b Can't make it to SoCraTes? #{''} &ndash; #{''}
            a(href='mailto:registration@socrates-conference.de') Please tell us
            | #{''} so that we can release your #{''}
            if registration.alreadyRegistered
              | participant spot!
            else
              | waitinglist spot!
