@import "original-variables.less";


// we are overriding the following values from the original bootstrap variables.less
@brand-warning:         #EBB847;

@text-color:            @gray-darker;

@font-family-sans-serif:  "Source Sans Pro", Helvetica, Arial, sans-serif;
@font-family-monospace:   "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;

@font-size-base:          16px;

@headings-font-weight:    bold;
