@import "variables.less";

ul.square {
  list-style-type: square;
}

ul.outside {
  padding-left: inherit;
}

.alert {
  margin-bottom: 0px;
}

.logo-left {
  float: left;
  padding-right: 2em;
}

.logo-left-small {
  float: left;
  padding-right: 1em;
}

.text-right {
  text-align: right;
}

.radio-inline {
  input[type=radio] {
    position: relative;
    margin-right: 6px;
  }
}

form {
  padding-top: 15px;
}

.serif {
  font-family: @font-family-serif;
}

.stage-background {
  background: url('../img/stage.jpg') transparent no-repeat;
  background-size: cover;
  background-position: top center;
}

.jumbotron {
  padding-bottom: 30px !important;
  margin-bottom: 0px !important;
}

dd {
  margin-left: 20px;
  margin-bottom: 10px;
}

.extraspace {
  margin-bottom: 50px;
}

.logocolumn {
  background-color: #f9f9f9;
}

@media (max-width: 767px) {
  .navbar {
    margin-bottom: 0px;
  }
}

@media (min-width: 768px) {
  body {
    padding-top: 50px;
  }

  .pull-right-sm {
    float: right
  }

  .sidebar {
    text-align: right;
  }

  .sponsorline {
    width: 160px;
    margin-right: 0px;
  }
}

@media print {
  body {
    padding: 0;
  }

  a[href]:after {
    content: none !important;
  }

  h3 {
    font-size: 14pt;
  }

  p {
    font-size: 10pt;
  }

  .panel {
    font-size: 6pt;
  }

  .navbar, footer {
    display: none;
  }

  .no-print, .no-print * {
    display: none !important;
  }
}
