/* #custom socrates styles              */
/*======================================*/
/*                                      */
/* SoCraTes colorscheme:                */
/*                                      */
/* red -> #B65353                       */
/* red darkened 10% -> #9D3A3A          */
/* blue -> #3161B9                      */
/* blue darkened 10% -> #1848A0         */
/* grey -> #E8E8E8                      */
@import "variables.less";

body {
  padding-top: 50px;
}

ul.square {
  list-style-type: square;
}

ul.outside {
  padding-left: inherit;
}

.serif {
  font-family: @font-family-serif;
}

.sidebar {
  text-align: justify;
}

.jumbotron {
  background: url('../img/stage.jpg') transparent no-repeat;
  background-size: cover;
  background-position: top center;
  padding-bottom: 30px !important;
  margin-bottom: 0px !important;
}

dd {
  margin-left: 20px;
  margin-bottom: 10px;
}

.extraspace {
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .pull-right-sm {
    float: right
  }
}

@media print {
  body {
    padding: 0;
  }

  a[href]:after {
    content: none !important;
  }

  h3 {
    font-size: 14pt;
  }

  p {
    font-size: 10pt;
  }

  .panel {
    font-size: 6pt;
  }

  .navbar, footer {
    display: none;
  }

  .no-print, .no-print * {
    display: none !important;
  }
}
