@import "original-variables.less";


// we are overriding the following values from the original bootstrap variables.less
@brand-primary:         lighten(#2B5ABC, 15%);
@brand-info:            @brand-primary;
@brand-warning:         #EBB847;
@brand-danger:          #B65353;

@text-color:            @gray-darker;

@font-family-sans-serif:  "Source Sans Pro", Helvetica, Arial, sans-serif;
@font-family-serif:       "PT Serif", "Times New Roman", Times, serif;
@font-family-monospace:   "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-serif;

@font-size-base:          16px;
@headings-font-family:    "PT Serif Caption";
@headings-font-weight:    bold;

@input-border:                   #eee;

@navbar-inverse-bg:                         darken(#B65353, 30%);

@navbar-inverse-link-active-bg:             darken(@navbar-inverse-bg, 2%);
@navbar-inverse-toggle-hover-bg:            @navbar-inverse-link-active-bg;
@navbar-inverse-toggle-border-color:        @navbar-inverse-link-active-bg;

