extends ../../../views/layoutOnlyMain
include ../../members/views/memberlist-mixin
include ../../../views/dataTables-mixin

block scripts
  +dataTableImport
  +dataTable('#memberandgrouptable', '[ 1, "desc" ]', '[]', true)


block title
  | Übersicht der Mitglieder und ihrer Gruppen

block content
  .row
    .col-md-12
      .page-header
        h2 Verwaltung
          small  Mitglieder und Gruppen
      .table-responsive
        table.table.table-condensed.table-hover.table-striped#memberandgrouptable
          thead
            tr
              th Name
              th Nickname
              for group in groups
                th !{group.shortName || group.longName.substring(0, 4) + '&hellip;'}
          tbody
            for member in members
              tr
                td #{member.firstname() + ' ' + member.lastname()}
                td: +linkedMember(member.nickname())
                for group in groups
                  td.center
                    if member.isInGroup(group.id)
                      i.fa.fa-check &nbsp;
      dl.dl-horizontal
        for groupinfo in groupsWithExtraEmailAddresses
          dt #{groupinfo.group}
          dd #{groupinfo.extraAddresses.join(', ')}
