@import "variables";
@import "../../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../../node_modules/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.scss";
@import "../../../../node_modules/select2-theme-bootstrap4/src/select2-bootstrap.scss";
@import "bootstrap-markdown-patched";

// adapt syntaxhighlighted code in textboxes to bootstrap *BEGIN*
.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
  font-family: $font-family-monospace !important;
}

.gutter {
  @include clearfix();
}

pre code {
  white-space: nowrap;
}

// adapt syntaxhighlight *END*

.navbar-brand.no-padding {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  height: 60px;
}

//.navbar-right {
  //margin-right: 0 !important;
//}

.page-header {
  margin-top: 0px !important;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgb(222, 226, 230);
}

h1 > small {
  display: inline-block;
  color: $text-muted;
}

h2 > small {
  display: inline-block;
  color: $text-muted;
}

h3 > small {
  display: inline-block;
  color: $text-muted;
}

h4 > small {
  display: inline-block;
  color: $text-muted;
}

h5 > small {
  display: inline-block;
  color: $text-muted;
}

h6 > small {
  display: inline-block;
  color: $text-muted;
}

// fullcalendar *BEGIN*
.fc-content {
  white-space: normal !important;
  max-height: 30px;
}

.fc-scroller {
  /* never scrollbars */
  overflow-y: parent !important;
  overflow-x: parent !important;
}

// fullcalendar *END*

.verySmall {
  font-size: .8em;
  line-height: 1.1em;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
}

.ellipsis.narrow {
  max-width: 120px;
}

// wiki page compare *BEGIN*
.compare {
  font-family: Consolas, monospace;
  font-size: 12px;
}

.compare td {
  padding: 0 3px;
  border-top-width: 0
}

.compare .gd {
  background-color: #ffdddd;
}

.compare .gc {
  color: #999999;
  background-color: #EAF2F5;
}

.compare .gi {
  background-color: #ddffdd;
}

.compare .ln {
  color: #999999;
  background-color: #EAF2F5;
  text-align: right;
  border-bottom-color: transparent;
}

// wiki page compare *END*

.main {
  margin-right: auto;
  margin-left: auto;
}

@media print {
  .btn {
    display: none !important;
  }

  a,
  a:visited {
    text-decoration: none !important;
  }

  a[href]:after {
    content: "" !important;
  }
}

@media (min-width: 768px) {
  body {
    padding-top: 75px;
  }

  .popover {
    max-width: 450px;
  }

}

@media (max-width: 767px) {
  .fixed-top {
    position: relative !important;
  }

  .fixed-bottom {
    position: relative !important;
  }
}

.popover-highlight {
  border-bottom: 1px dotted;
}

a.group {
  color: #ffffff;
}

a.chevron {
  color: theme-color("primary");
}

a.inherit-color {
  color: inherit !important;
}

.control-label {
  font-weight: bold;
  margin-bottom: 0 !important;
}

legend {
  font-weight: bold;  
}

.label.group {
  padding: .3em .4em .2em .4em;
  position: absolute;
  font-size: 0.8em;
}

ul.nav-tabs {
  margin-bottom: 20px;
}

ul.align-with-table-header {
  padding-left: 1.5em;
}

.dashboard-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

a {
  word-wrap: break-word;
}

#tag-cloud {
  height: 400px;
  overflow: hidden;
}

#tag-cloud a {
  color: inherit !important;
}

// File upload button
.btn-file {
  position: relative;
  overflow: hidden;
  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: alpha(opacity=0);
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
  }
}

.photo-day > .photo-room:nth-child(odd) {
  background-color: $table-accent-bg;
}

.select2-container--bootstrap {
  width: inherit !important;
}

.nav-item.active {
  background-color: $gray-400;
}

// needed to find the right font
.abc-checkbox input[type=checkbox]:checked+label::after, .abc-checkbox input[type=radio]:checked+label::after {
  font-weight: 900;
}

// transform fullcalendar's primary to light button
.fc-right .btn-primary {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
