extends ../../../views/layout
include memberlist-mixin

block title
  | #{t('members.overview')}

block content
  .page-header
    h1 #{t('members.members')}
  .row
    .col-md-6.order-md-last
      +tagCloud
    .col-md-6.order-md-first 
      +memberlistHeading(t('members.has'), members.length)
      +memberlist(members)

block scripts
  +tagCloudScript(members, '#cb6868')
