/* ####### STOCK BOOK STYLES ####### */


/* ##### STANDARD STYLES, general inheritance to other elements ##### */

body
{
	margin: 0 15px 0 0;
	padding: 0;
	font-size: 100%;
	font-family: Futura, "GillSans", "Gill Sans", Helvetica, Arial, Verdana, sans-serif;
	color:#bbb;
	background-color: #000;
    max-width: 1500px;
}
table, td
{
	border-width:0px;
	border-spacing: 0px;
	border-collapse: collapse;
	padding:0px;
	vertical-align: top;
}

.detail table
{
    float: left;
    clear: both;
}
img { border: none; }


/* ########## */
/* ##### HEADER STYLES, controls site title and photo title ##### */

#header
{
    float: left;
    clear: both;
    margin-left:200px;
}

#page 
{
	width:100%;
}
h1
{
	color: #fff;
	font-weight: normal;
	font-size: 2em;
	margin: 12px 0px 0px 15px;
	width: 585px;
}
h2
{
	font-size: .9em;
	font-weight: normal;
	margin: 0px 0px 2px 15px;
	padding: 0;
	color: #bbb;
}

.detail h2
{
    width: auto;
}

/* ########## */
/* ##### GENERAL NAVIGATION STYLES, controls previous & next number menu between pages ##### */

ul#nav
{
	float: left;
	clear: both;
	display: block;
	margin: 2px 0 8px 12px;
	padding: 0;
	font-size: .9em;
	list-style: none;
}
ul#nav li
{
	padding: 0; 
	float: left;
	display: block;
	list-style: none;
}
ul#nav li a, ul#nav li a:visited
{
	text-decoration: none;
	color:#bbb;
	padding-bottom:1px;
}
ul#nav li a:hover, ul#nav li a:active
{
	color: #ddd;
	text-decoration: none;
}
ul#nav .index { width:60px; margin-left: 5px;}

ul#nav .previous { white-space: pre; width: 11px; height: 15px;}
ul#nav .previous a { background: url("../img/previous.gif") no-repeat left center; padding:0 4px 1px 4px;}
ul#nav .previous a:hover { background: url("../img/previous_active.gif") no-repeat left center; padding:0 4px 1px 4px;}
ul#nav .previous_text {display: none;}

ul#nav .pageNumber { padding:0 2px 0 7px; }
ul#nav .pagnation { padding: 0 2px 0 7px; }

ul#nav .next { white-space: pre; width: 15px; height: 15px;}
ul#nav .next a { background: url("../img/next.gif") no-repeat left center;  padding:0 4px 1px 4px;}
ul#nav .next a:hover { background: url("../img/next_active.gif") no-repeat left center;  padding:0 4px 1px 4px;}
ul#nav .next_text {display: none;}

.currentPage /* need to get rid of this */
{
	color: #fff;
}

/* ########## */
/* ##### TBA ##### */

.thumbnail
{
	background-color: #BBB;
}



#content 
{
	float: left;
	margin: 0px;
	padding: 0px;
}


/* ########## */
/* ##### PHOTO STYLES, controls each image style ##### */


#photo
{
	margin: 4px 0 0 15px;
}
#photo img
{
	background-color: #BBB;
	margin: 0;
}

.sideinfo
{
    width: 200px;
    display: block;
    margin: 0;
    padding: 0;
}

.pictureblock
{
	margin: 0;
	padding: 0;
}
.imageinfo, .imageinfo a, .imageinfo a:visited, .imageinfo a:active, .imageinfo a:hover
{
	font-size: 0.9em;
	color: #bbb;
	margin: 0 0 5px 0;
	text-decoration: none;
}

dl.imageblock
{
	margin: 0 10px 10px 0;
	padding: 0;
}
dl.imageblock dt
{
	margin: 0;
	padding: 0;
}
.imageinfo
{
	margin: 0;
	padding: 0;
	text-align: left;
	clear: both;
}
dd.imagecell
{
	margin: 0;
	padding: 0;
	clear: both;
}
dd.imagecell img
{
	background-color: #666;
}

/* ########## */
/* ##### JOURNAL STYLES, controls journal data ##### */

.journaltitle
{
	
	color:#bbb;
}
.journaltitle h3
{
	font-weight: normal;
	font-size: 1.8em;
	margin: 7px 0 0 0;
	padding: 0;
}
.journaltext
{
    margin-bottom:10px
}
.journaltext p 
{
	margin: 0 0 10px 0;
	padding: 0;
	font-size: .9em;
	line-height: 1.1em;
	color:#BBB;
}

/* ########## */
/* ##### PHOTO DATA STYLES, controls metadata for each photo displayed ##### */

ul#metadata
{
	margin: 0;
	padding: 0 10px 0 0px;
	text-align: left;
	font-size: .8em;
    list-style: none;
    color: #999;
}


ul#metadata li
{
	display: inline;
    list-style: none;
}

.detail ul#metadata
{
    margin: 0 0 0 15px;
}

.detail ul#metadata li
{
    display: block;
    clear: right;
    text-align: left;
}

/* ########## */
/* ##### FOOTER STYLES, controls copyright and other info at bottom of each page ##### */

#footer
{
	padding: 5px 0 15px 0;
	clear: both;
	margin-left: 200px;
}


#footer p
{
	font-size: .76em;
	margin: 0 0 0 15px;
}
