extends ../../../views/layout

block title
  | Übersicht der Gruppen

block content
  .row-fluid
    .span12
      .page-header
        h2 Gruppen&nbsp;
          small Alle
          if (typeof(user) !== 'undefined' && user.member.isAdmin)
            a.pull-right.btn(href="new/"): i.icon-file
      dl.dl-horizontal
        each group in groups
          dt
            // span.badge(style="background-color: #{group.color}") &nbsp
            strong: a.group(href="#{group.id}") #{group.longName}&nbsp;
          dd Schicke eine Nachricht an: 
            span.mailtoify #{group.id}@softwerkskammer.de
