extend ../../../views/layout

block title
  | Übersicht der Gruppen

block content
  .span12
    .page-header
      h1 Gruppen
        small  Alle
    ul
      each group in groups
        li: .group: strong: a(href='#{group.id}') #{group.longName}
