extends ../../../views/layout

block title
  | Übersicht der Gruppen

block content
  .span12
    .page-header
      h2 Gruppen
        small  Alle
        - if (typeof(user) !== 'undefined' && user.member.isAdmin)
          | 
          a(href="new/", class="btn") Neu

    ul
      each group in groups
        li: .group
          strong: a(href="#{group.id}") #{group.longName}
          br
          | - Schicke eine Nachricht an:
          a(href="mailto:#{group.id}@softwerkskammer.de")  #{group.id}@softwerkskammer.de
