extends ../../../views/layout

block title
  | #{t('authentication.please_authenticate')}
block content
  .row
    .col-lg-6
      !=t('authentication.required_text', { postProcess: 'pug' })
    .col-lg-6
      h3 #{t('authentication.please_authenticate')}
      p.modaldialog.btn.btn-primary(data-toggle='modal', data-target='#login', data-link='/loginDialog?returnUrl=' + encodeURIComponent(currentUrl ||  '/'))
        i.fas.fa-sign-in-alt.fa-fw
        | &nbsp;#{t('general.login')}
