extends ../../../views/layoutOnlyMain

mixin defItem(title, url, text)
  dt.col-3.text-truncate #{title}:
  dd.col-9.mb-0: a(href=url, target='_blank')
    i.fa-solid.fa-up-right-from-square
    | &nbsp;#{text}

block title
  | Credits
block content
  .row
    .col-lg-4
      .card.bg-light
        .card-body
          h3.card-title Credits
          p.card-text.
            Diese Site ist freie Software und ihre Entstehung wäre ohne das Vorhandensein freier Software undenkbar. An dieser
            Stelle möchten wir uns ausdrücklich bei allen bedanken, die ihre Arbeit uneigennützig zur freien Verwendung zulassen,
            indem wir diese Arbeit hier erwähnen.

      h2 Backend

      h4 Infrastruktur / Framework / Middleware
      dl.row
        +defItem('Uberspace', 'http://uberspace.de', 'Webhoster')
        +defItem('Node.js', 'http://nodejs.org', 'Plattform')
        +defItem('Express', 'http://expressjs.com/api.html', 'Applikationsframework')
        +defItem('Passport', 'http://passportjs.org/', 'Authorisierung in Express')
        +defItem('Better Sqlite3', 'https://github.com/WiseLibs/better-sqlite3', 'Treiber für SQLite')
        +defItem('Better Sqlite3 Session Store for Express', 'https://github.com/attestate/better-sqlite3-session-store', 'Express sessions für SQLite')
        +defItem('simple-configure', 'https://github.com/NicoleRauch/simple-configure', 'Variablen konfigurierbar setzen')
        +defItem('Winston', 'https://github.com/flatiron/winston', 'Logging')
        +defItem('icalendar', 'https://github.com/tritech/node-icalendar', 'Einfaches Erstellen von vcal/ical Dateien')
        +defItem('Nodemailer', 'https://github.com/andris9/Nodemailer', 'Mails versenden')
        +defItem('Useragent', 'https://github.com/3rd-Eden/useragent', 'Browsererkennung')

      h4 Express Middleware
      dl.row
        +defItem('Body Parser', 'https://github.com/expressjs/body-parser', 'HTML-Form Aufbereitung')
        +defItem('Compression', 'https://github.com/expressjs/compression', 'Komprimieren der HTTP-Streams')
        +defItem('Cookie Parser', 'https://github.com/expressjs/cookie-parser', 'Notwendig für Sessionverwaltung')
        +defItem('Csurf', 'https://github.com/expressjs/csurf', 'Verhindern von Cross-Site-Request-Forging')
        +defItem('Express Session', 'https://github.com/expressjs/session', 'Sessionunterstützung')
        +defItem('Favicon', 'https://github.com/expressjs/favicon', 'Übermitteln von Favicons')
        +defItem('Morgan', 'https://github.com/expressjs/morgan', 'Für Logging')
        +defItem('Serve Static', 'https://github.com/expressjs/serve-static', 'Zum Übermitteln statischer Dateien')

    .col-lg-4
      h2 UI
      h4 Frontend Basis
      dl.row
        +defItem('Twitter Bootstrap', 'http://getbootstrap.com', 'UI Basis Framework')
        +defItem('JQuery', 'http://jquery.com', 'DOM Manipulation')
        +defItem('JQuery Validation', 'https://github.com/jzaefferer/jquery-validation', 'Frontend Validierung')
        +defItem('Font-Awesome', 'http://fortawesome.github.com/Font-Awesome/', 'Bessere Icons für Buttons etc.')

      h4 Frontend Widgets
      dl.row
        +defItem('Bootstrap-Markdown', 'http://toopay.github.com/bootstrap-markdown/', 'Markdown Editor für Textareas')
        +defItem('jQCloud', 'https://github.com/leider/jQCloud', 'Die [tag] Cloud')
        +defItem('Tiny Color', 'https://github.com/bgrins/TinyColor', 'Arbeiten mit Farben')
        +defItem('Tiny Gradient', 'https://github.com/mistic100/tinygradient', 'Gradienten - basierend auf Tiny Color')
        +defItem('Full Calendar', 'https://fullcalendar.io/', 'Der Kalender')
        +defItem('Bootstrap-Datepicker', 'https://github.com/eternicode/bootstrap-datepicker', 'Datumseingabe')
        +defItem('Simple-Timepicker', 'https://github.com/leider/simple-timepicker', 'Zeiteingabe')
        +defItem('Datatables', 'http://www.datatables.net/', 'Für Administration')
        +defItem('Datatables Plugins', 'http://datatables.net/plug-ins/', 'Bootstrap / FontAwesome /Internationalization Integration')
        +defItem('jquery-guillotine', 'http://matiasgagliano.github.io/guillotine/', 'sizing, rotating, cropping of images inside the browser')
        +defItem('select2', 'http://ivaynberg.github.io/select2/', 'Tag Darstellung in Inputboxen')
        +defItem('select2-bootstrap-5-theme', 'https://github.com/apalfrey/select2-bootstrap-5-theme/', 'Bootstrap Integration für Select2')

      h4 Backend Rendering
      dl.row
        +defItem('Pug', 'https://pugjs.org', 'Template Engine')
        +defItem('Marked', 'https://github.com/chjj/marked', 'Markdown nach HTML')
        +defItem('iconv-lite', 'https://github.com/ashtuchkin/iconv-lite', 'Text Recoding')
        +defItem('Sharp', 'https://sharp.pixelplumbing.com/', 'Bearbeiten von Bildern')
        +defItem('exifr', 'https://github.com/MikeKovarik/exifr', 'Extrahieren von Exif Informationen')
        +defItem('i18next', 'http://i18next.com/', 'Internationalisierung')
        +defItem('feed', 'https://github.com/jpmonette/feed', 'Erzeugung von Atom/RSS-Feeds')

    .col-lg-4
      h2 Allgemeine Bibliotheken
      dl.row
        +defItem('Ramda', 'http://ramdajs.com', '"A practical functional library for Javascript programmers."')
        +defItem('Luxon', 'https://moment.github.io/luxon/index.html', 'Datum und Uhrzeit leicht gemacht')

      h2 Dev/Build/Test
      dl.row
        +defItem('Grunt', 'http://gruntjs.com', 'Build-Runner')
        +defItem('ESLint (grunt)', 'https://github.com/sindresorhus/grunt-eslint', 'Grunt Integration für ESLint')
        +defItem('Puglint (grunt)', 'https://github.com/mrmlnc/grunt-puglint', 'Grunt Integration für pug-lint')
        +defItem('Grunt Sass', 'https://github.com/gruntjs/grunt-contrib-sass', 'Grunt Integration für SASS Compilierung')
        +defItem('Grunt Uglify', 'https://github.com/gruntjs/grunt-contrib-uglify', 'Grunt Minifizierung für JS-Files')
        +defItem('Grunt Mocha CLI', 'https://github.com/Rowno/grunt-mocha-cli', 'Mocha Tests im Grunt')
        +defItem('grunt-simple-nyc', 'https://github.com/tandrewnichols/grunt-simple-nyc', 'Coverage check with mocha')
        +defItem('Must', 'https://github.com/moll/js-must', 'BDD TDD Assertion Library')
        +defItem('Sinon', 'http://sinonjs.org', 'Mock Framework')
        +defItem('Superagent', 'https://github.com/visionmedia/superagent', 'Used to call other services')
        +defItem('Supertest', 'https://github.com/visionmedia/supertest', 'Einfache Integrationstests')
        +defItem('ESLint', 'http://eslint.org/', 'Metrik/Qualitäts/Style Checker')
        +defItem('Pug-Lint', 'https://github.com/pugjs/pug-lint', 'Problem- and Style Checker für pug')
        +defItem('Mocha', 'http://visionmedia.github.io/mocha/', 'Test Framework')
        +defItem('Karma', 'http://karma-runner.github.io/', 'Test runner für Frontendtests')
        +defItem('Karma-Mocha', 'https://github.com/karma-runner/karma-mocha', 'Mocha in Frontendtests benutzen')
        +defItem('Karma-Must', 'https://github.com/verkholantsev/karma-must', 'Must in Frontendtests benutzen')
        +defItem('Karma Coverage', 'https://github.com/karma-runner/karma-coverage', 'Code Coverage bei Frontendtests erfassen')

