extends ../../../views/layout

include ../../../views/layoutComponents

block title
  | Tipps & Hilfe
block content
  .row
    .col-md-12
      .page-header
        h2 Tipps & FAQs
  .row
    .col-md-6
      h3 Profil
      dl
        dt Wie kann ich ein Profilbild hinterlegen?
        dd Wenn für Deine E-Mail-Adresse bei Gravatar ein Bild hinterlegt ist, zeigen wir das. Alternativ kannst Du auch ein Bild hochladen. 
        dt Kann ich mehr als eine E-Mail-Adresse hinterlegen?
        dd Nein. Uns ist klar, dass dies eventuell beim Posten an eine Gruppe unangenehm ist. Leider ist dies mit unserem Listen-Backend nicht  
          | ganz einfach, mehrere Adressen für einen User zu verwalten. 
        dt Kann ich meinen Nickname ändern?
        dd Ja, das geht. Einfach das Profil bearbeiten.
        dt Kann ich meine E-Mail-Adresse ändern?
        dd Ja, das geht. Einfach das Profil bearbeiten.
        dt Kann ich meine Authentifizierungsmethode ändern?
        dd Ja. Du kannst auf Deiner Profilseite weitere Authentifizierungsdienste hinzufügen. Entfernen geht (noch) nicht automatisch.
    .col-md-6
      h3 Gruppen
      dl
        dt Was hat es mit den Gruppen auf sich?
        dd Die Gruppen repräsentieren regionale oder thematische Einheiten und sind gleichzeitig E-Mail-Listen.
        dt Warum erhalte ich immer Mails, wenn ich einer Gruppe beitrete oder austrete?
        dd Das liegt daran, dass im Hintergrund ein "ganz normaler" Listenserver die Listen verwaltet. Dieser ist entsprechend
          | konfiguriert.
        dt Kann ich aus einer Gruppe über E-Mail austreten? 
        dd Ja, das geht.
        dt Kann ich selbst eine eigene Regionalgruppe anlegen?
        dd Ja, das geht über&nbsp;
          a(href='/groups/new') diesen Link.
          | &nbsp;<b>Bitte mach das nicht aus Spaß!</b> Achte beim Anlegen der Gruppe auf vorhandene Konventionen
          | und halte Dich im Zweifelsfall daran. Wenn Du Fragen hast oder unsicher bist, wende Dich einfach an&nbsp;
          a(href='/members/Nicole') Nicole
          | &nbsp;oder&nbsp;
          a(href='/members/leider') Andreas
          | &nbsp;- wir helfen Dir gern.
        dt Kann ich Ansprechpartner in einer Gruppe werden?
        dd Ja, wende Dich einfach an einen der Ansprechpartner der Gruppe, um die es Dir geht.
          | Gehe verantwortungsvoll mit Deinen erweiterten Rechten um. Diese Site baut
          | auf das Prinzip Vertrauen.
  .row
    .col-md-6
      h3 Datenschutz
      dl
        dt Sichtbarkeit der Daten
        dd Grundsätzlich sind Mitgliederdaten nur für registrierte Mitglieder sichtbar.
        dt Sichtbarkeit von E-Mail-Adressen
        dd E-Mail-Adressen sind nur für Superuser sichtbar. Sollte dies nicht so sein, ist das ein Bug.
        dt Fehlerfreiheit
        dd Die Software ist Open Source und mit Sicherheit voller Fehler. Auch, was den Datenschutz betrifft.
        dt Cookies, Tracking etc.
        dd Wir benutzen ein Cookie für die Sessionverwaltung, aber keinerlei Tracker.
      h3 Administration
      dl
        dt Wie können sich die Ansprechpartner untereinander austauschen?
        dd Es gibt die Mailingliste&nbsp;
          a(href='mailto:admins@softwerkskammer.org') admins@softwerkskammer.org
          | , in der alle Ansprechpartner automatisch eingetragen sind und sich gegenseitig erreichen können.
          | Nicht-Ansprechpartner können keine Mails an diese Adresse schicken.
    .col-md-6
      h3 Aktivitäten
      dl
        dt Kann ich selbst eine Aktivität anlegen?
        dd.
         Ja. Bitte beachte, dass es sich um eine Softwerkskammer-Aktivität handeln sollte - das Auflisten anderer interessanter Events
         in Deiner Gegend würde aktuell unseren Rahmen und unsere Möglichkeiten sprengen.
        dt Was muss ich beim Anlegen beachten?
        dd.
         Dass Deine Angaben korrekt sind, versteht sich wohl von selbst :-) Achte auch darauf, dass Du die Aktivität der
         richtigen Gruppe zuordnest (dies wird normalerweise die veranstaltende Regionalgruppe sein).
        dt Wer kann eine von mir angelegte Aktivität bearbeiten?
        dd Du selbst und die Ansprechpartner der Gruppe, der die Aktivität zugeordnet ist.
        dt.
         Kann ich verschiedene Arten von Tickets einrichten, bei denen sich die Teilnehmer getrennt reservieren können,
         z. B. für ein Code Retreat und für einen anschließenden Kneipenbesuch?
        dd Ja, wir nennen das "Ressourcen". Du kannst Deiner Aktivität beliebig viele Ressourcen geben.
        dt Kann ich die Teilnehmerzahl für meine Aktivität beschränken?
        dd Ja: Trage die gewünschte Maximalzahl bei der jeweiligen Ressource ein.
        dt Wie kann ich eine Warteliste für meine Aktivität einrichten?
        dd Kreuze das entsprechende Feld bei der jeweiligen Ressource an.
        dt Wie kann ich eine Aktivität anlegen, bei der man sich erst später registrieren kann?
        dd Entferne das entsprechende Häkchen bei den Ressourcen und setze es wieder, wenn die Registrierung geöffnet werden soll.
