extends ../../../views/layout

include ../../groups/views/group-mixins

block title
  | #{t('general.welcome')}
  
block head
  +addMapStyle
  
block content
  .row
    .col-12
      .page-header
        h1 Softwerkskammer <br>
          small #{t('general.communities')}
  //.row
  //  .col-md-12
  //    h2 Aktuell: Der Global Day of Coderetreat am 17. November 2018
  //    p
  //      | Hier findest Du&nbsp;
  //      a(href='activities/gdcr') die meisten der Veranstaltungen im Softwerkskammer-Einzugsgebiet.
  //    hr
  .row
    .col-lg-6
      !=t('general.about_us_text', { postProcess: 'pug' })
      if (language === 'de')
        h4 Wenn…
        ul
          li Softwareentwicklung für Dich eine Leidenschaft bedeutet,
          li.
            Du Teil der deutschsprachigen Software Craftsmanship Community und Teil einer lokalen Softwerkskammer
            sein möchtest,
          li.
            Du Dich mit Gleichgesinnten zum Thema Software Craftsmanship und allen damit zusammenhängenden Themen
            wie Clean Code, TDD etc. austauschen möchtest,
        p Dann ist die Softwerkskammer etwas für Dich!

    .col-lg-6.groupsmap
      +placeGroupLabels(regionalgroups)
  if (language === 'de')
    .row
      .col-12
        hr
        h4 Wir sind …
        p.
          … ein Zusammenschluss von Communities of Professionals, die über den ganzen deutschsprachigen Raum verteilt sind. Uns geht es darum, gute Software
          zu entwickeln, und zwar im Hinblick auf alle Aspekte.
        p Wir möchten
        ul
          li voneinander lernen und Erfahrungen austauschen
          li die Software erstellen, die der Kunde wirklich braucht
          li sicherstellen, dass unsere Ergebnisse eine hohe interne und externe Qualität besitzen
          li flexible, leicht änderbare Software herstellen
        p
          strong Kurz:&nbsp;
          | Wir wollen die richtige Software entwickeln, und wir wollen die Software richtig entwickeln.

block scripts
  +adjustMapScript
