extends ../../../views/layout

block content
  -var returnUrlEncoded = encodeURIComponent("/")
  -if(typeof(returnToPage) !== 'undefined')
    - returnUrlEncoded = encodeURIComponent(returnToPage)
  -var returnParam = "returnTo=" + returnUrlEncoded
  form(action="openid", method="get")
    fieldset
      .span12
        legend
          | OpenID
        .control-group
          p
            a(href="openid?openid_identifier=" + encodeURIComponent("https://www.google.com/accounts/o8/id") + "&" + returnParam)
              img(src="images/google-icon.png", alt="google")
              |  Google
          p
            label(class="control-label", for="openid_identifier") Freie Eingabe des OpenID Providers:
            .input-append
              input(id="openid_identifier", class="input-xxlarge", type='text', name="openid_identifier")
              -if(typeof(returnTo) !== 'undefined')
                input(type="hidden",name="returnTo",value=returnToPage)
              else
                input(type="hidden",name="returnTo",value="/")
              button(class="btn", type="submit") Sonstige
        legend
          | OAuth
        p
          a(href="github"+ "?" + returnParam)
            img(src="images/github-icon.png", alt="github")
            |  Github
