html
  body
    form(action="/auth/openid", method="get")
      div
        label OpenID:
          input(type="text",name="openid_identifier",value="https://www.google.com/accounts/o8/id", size="50")
      div
        input(type="submit",value="Submit")
    p
      a(href="/auth/github") log in with github
