mixin visitorCount(anzahl)
  p Bislang
    if (anzahl === 0)
      |  gibt es keine Teinahmezusagen.
    else if (anzahl === 1)
      |  hat ein Mitglied seine Teilnahme zugesagt.
    else
      |  haben #{anzahl} Mitglieder ihre Teilnahme zugesagt.


mixin subscriptionButtons(activity, resourceName, resourceRegistrationRenderer)
  resource = activity.resourceNamed(resourceName)
  if (activity.resourceNames().length === 1)
    !{resourceRegistrationRenderer.htmlRepresentationOf(activity, resource, accessrights.memberId())}
  else
    form.form-horizontal
      .form-group
        label.control-label.col-xs-6(style="text-align: left;") #{resourceName}:
        !{resourceRegistrationRenderer.htmlRepresentationOf(activity, resource, accessrights.memberId())}
