include  activities-forms

doctype html
html
  head
    script(src='/clientscripts/check-addonform.js')
  body
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true') #{t('general.close')}&nbsp;&times
      h3 #{t('activities.addon')}
    .modal-body#addon
      .row
        .col-md-12
          | !{addonConfig.addonInformationHTML()}
          +addonform(addon)
