include  ../../../views/formComponents

doctype html
html
  head
    script(src="/clientscripts/check-addonform.js")
    script.
      $(document).ready(addHelpButtonToTextarea);
  body
    .modal-header
      button.close(type="button", data-dismiss="modal", aria-hidden="true") #{t("general.close")}&nbsp;&times
      h3 #{t("activities.addon")}
    .modal-body#addon
      p Hier bla bla bla wegen Anmelden und so weiter...
      form#addonform(action='/activities/submitAddon', method='post')
        +csrf
        +hidden('url', url)
        fieldset
          .row
            .col-md-12
              | !{addonConfig.addonInformationHTML()}
              if (addonConfig.homeAddress())
                +textarea('homeAddress', t("activities.home_address"), addon.homeAddress())
              if (addonConfig.billingAddress())
                +textarea('billingAddress', t("activities.billing_address"), addon.billingAddress())
              if (addonConfig.tShirtSize())
                +text('tShirtSize', t("activities.t_shirt_size"), addon.tShirtSize())
              if (addonConfig.roommate())
                +text('roommate', t("activities.roommate"), addon.roommate())
              button.btn.btn-primary.pull-right(type="submit") #{t("general.save")}
    
