extends ../../../views/layoutOnlyMain
include activities-forms

block scripts
  script(src='/clientscripts/activityDateModel.js')
  script(src='/clientscripts/activityform-dateAdapter.js')
  script(src='/clientscripts/check-activityform.js')
  script.
    $(document).ready(function () {
      $('#resources .add').on('click', function () {
          var resource_row = $($('#resource-template').text().trim());
          $(this).closest('.form-group').before(resource_row);
          resource_row.find('input').first().focus();
        });
    });
  script#resource-template(type='text/html')
    +resourceRow(undefined, undefined, true, true, false)
  script.
    function fillUrlFromText () {
      var title = document.getElementById('title').value;
      var urlContent = encodeURIComponent(title.replace(/^\s\s*/, '').replace(/\s\s*$/, '').replace(/[ #,!?ßöäü:"']/gi, '_'));
      var urlInput = $('#url');
      urlInput.val(urlContent);
      urlInput.change();
      urlInput.focus();
    }

block title
  | #{t('activities.activity')}

block content
  +activityform(activity, groups)
