extends ../../../views/layout

include  ../../../views/formComponents

block scripts
  script(src="/clientscripts/jquery.validate-1.11.1.js")
  script(src="/clientscripts/messages_de.js")
  script(src="/clientscripts/methods_de.js")
  script(src="/clientscripts/bootstrap-datepicker.de.js")
  script(src="/clientscripts/bootstrap-timepicker.js")
  script(src="/clientscripts/initPickers.js")
  script(src="/clientscripts/check-activityform.js")

block title
  | Aktivität

block content
  form(id='activityform', action='/activities/submit', method='post')
    if (activity.id)
      mixin hidden('id', activity)
    mixin hidden('previousUrl', activity, 'url')
    fieldset
      .span12
        legend
          | Aktivität
      .row-fluid
        .span6
          mixin text('title', 'Titel', activity)
          .row-fluid
            .span6
              mixin date('startDate', 'Startdatum', activity)
            .span6
              mixin time('startTime', 'Startuhrzeit', activity)
          .row-fluid
            .span6
              mixin date('endDate', 'Enddatum', activity)
            .span6
              mixin time('endTime', 'Enduhrzeit', activity)
          mixin textarea('description', 'Beschreibung', activity)
        .span6
          mixin text('url', 'URL', activity)
          mixin text('location', 'Veranstaltungsort', activity)
          mixin textarea('direction', 'Wegbeschreibung', activity)
          .control-group
            label.control-label(for="assignedGroup") Gruppe:
            select#assignedGroup.input-block-level.input-xlarge(name="assignedGroup")
              for group in groups
                option(value=group.id, selected = (activity.assignedGroup != undefined && activity.assignedGroup == group.id))  #{group.longName}
          mixin colorPicker('color', activity)
      .row-fluid
        .span12
          button.btn.btn-primary.pull-right(type="/activities/submit") Speichern
          a.btn.pull-right(href="javascript:history.back()", type="cancel") Zurück
