extends ../../../views/layout

include  ../../../views/formComponents

block scripts
  script(src="/clientscripts/check-activityform.js")

block title
  | Aktivität

block content
  form(id='activityform', action='/activities/submit', method='post')
    if (activity.id)
      mixin hidden('id', activity)
    mixin hidden('previousUrl', activity, 'url')
    fieldset
      .row-fluid
        .span12
          legend
            | Aktivität
            if (activity.id)
              |  bearbeiten
            else
              |  anlegen

      .row-fluid
        .span6
          mixin text('title', 'Titel', activity)
          .row-fluid
            .span6
              mixin date('startDate', 'Startdatum', activity)
            .span6
              mixin time('startTime', 'Startuhrzeit', activity)
          .row-fluid
            .span6
              mixin date('endDate', 'Enddatum', activity)
            .span6
              mixin time('endTime', 'Enduhrzeit', activity)
          mixin textarea('description', 'Beschreibung', activity)
        .span6
          mixin text('url', 'URL', activity)
          mixin text('location', 'Veranstaltungsort', activity)
          mixin textarea('direction', 'Wegbeschreibung', activity)
          .control-group
            label.control-label(for="assignedGroup") Gruppe:
            select#assignedGroup.input-block-level.input-xlarge(name="assignedGroup")
              for group in groups
                option(value=group.id, selected = (activity.assignedGroup != undefined && activity.assignedGroup == group.id)) #{group.longName}
          .control-group
            label.control-label(for="type") Farbe:
            select#type.input-block-level.input-xlarge(name="color")
              for color in colorlist
                option(selected=activity.color === color) #{color}

      .row-fluid
        .span12
          button.btn.btn-primary.pull-right(type="submit") Speichern
          a.btn.pull-right(href="javascript:history.back()", type="cancel") Zurück
