extends ../../../views/layout

block title
  | Aktivitäten

block content
  .span12
    .page-header
      h2 Aktivitäten
        small  Alle
        - if (typeof(user) !== 'undefined' && user.member.isAdmin)
          | 
          a(href="new/", class="btn") Neu

    ul
      for activity in activities
        li
          a(href='#{activity.createLink()}') #{activity.title}
