extends ../../../views/layout

include ../../../views/editableTableComponents

block title
  | Übersicht der Mitglieder

block scripts
  script(src="/clientscripts/utilities-for-editables.js")
  script
    var initEditable = function () {
      $("table").find("a").filter(function () {return this.id === "isAdmin"; }).editable(
        {source: [
          {value: 0, text: "Normal"},
          {value: 1, text: "Administrator"}
        ],
          showbuttons: false}
      );
    };
    $(document).ready(initEditable);


block content
  .row-fluid
    .span12
      .page-header
        h2 Verwaltung
          small  Mitglieder
  .row-fluid
    table(class="span 12 table table-condensed table-hover table-striped", style="overflow: auto; max-height: 80%")
      thead
        tr
          mixin tabHeadNarrow(1, 'Nickname')
          mixin tabHeadNarrow(1, 'Vorname')
          mixin tabHeadNarrow(1, 'Nachname')
          mixin tabHeadNarrow(1, 'Email')
          mixin tabHeadNarrow(1, 'Twitter')
          mixin tabHeadNarrow(1, 'Ort/Region')
          mixin tabHeadNarrow(1, 'Beruf')
          mixin tabHeadNarrow(1, 'Interessenschwerpunkte')
          mixin tabHeadNarrow(1, 'Website/Blog')
          mixin tabHeadNarrow(2, 'Wie ich von…')
          mixin tabHeadNarrow(1, 'Benutzertyp')
      tbody
        for member in members
          tr
            th.span1: .ellipsis.narrow #{member.nickname}
            mixin tabTextNarrow(1, member, 'firstname', 'memberChanged', 'right')
            mixin tabTextNarrow(1, member, 'lastname', 'memberChanged')
            mixin tabTextNarrow(1, member, 'email', 'memberChanged')
            mixin tabTextNarrow(1, member, 'twitter', 'memberChanged')
            mixin tabTextNarrow(1, member, 'location', 'memberChanged')
            mixin tabTextNarrow(1, member, 'profession', 'memberChanged')
            mixin tabTextNarrow(1, member, 'interests', 'memberChanged')
            mixin tabTextNarrow(1, member, 'site', 'memberChanged')
            mixin tabTextareaNarrow(2, member, 'reference', 'memberChanged')
            td.span1: a#isAdmin(href="#", data-type="select", data-value="#{member.adminDropdownValue()}", data-pk="#{member.nickname}", data-url="memberChanged"): .ellipsis.narrow #{member.adminDisplayText()}

