include  ../../../views/formComponents

mixin activityform(socratesReadModel, roomTypes)
  form(id='activityform', action='/activities/submit', method='post')
    +csrf
    if (socratesReadModel.id())
      +hidden('id', socratesReadModel.id())
    +hidden('previousUrl', socratesReadModel.url())
    fieldset
      .row
        .col-md-12
          +submitButtons('general.save')
          legend
            if (socratesReadModel.id())
              | Edit SoCraTes
            else
              | Create SoCraTes
          .row
            .col-md-6
              .row
                .col-xs-6(style='padding-right:5px')
                  .col-xs-6(style='padding-left:0px;padding-right:3px')
                    +date('startDate', t('activities.start'), socratesReadModel.startTime().locale(language).format('DD/MM/YYYY'), t('activities.tooltip.start'))
                  .col-xs-6(style='padding-left:3px;padding-right:0px')
                    +time('startTime', socratesReadModel.startTime().locale(language).format('HH:mm'))
                .col-xs-6(style='padding-left:5px')
                  .col-xs-6(style='padding-left:0px;padding-right:3px')
                    +date('endDate', t('activities.end'), socratesReadModel.endTime().locale(language).format('DD/MM/YYYY'), t('activities.tooltip.end'))
                  #dates.col-xs-6(style='padding-left:3px;padding-right:0px')
                    +time('endTime', socratesReadModel.endTime().locale(language).format('HH:mm'))
          .row
            .col-md-12
              hr
              .row
                .col-xs-3.col-sm-2
                  +controlLabel('bezeichnung', t('activities.resourcelabel'))
                .col-xs-3.col-sm-2
                  +controlLabel('anzahl', t('activities.count'), t('activities.tooltip.count'))
              each name in roomTypes
                +resourceRow(name, socratesReadModel.quotaFor(name))
      .row
        .col-md-12
          hr
          +submitButtons('general.save')

mixin resourceRow(name, limit)
  .row.form-group
    .col-xs-3.col-sm-2
      input.form-control(name='resources[names]', value=name, type='text', placeholder=t('activities.label'), readonly)
    .col-xs-3.col-sm-2
      input.form-control(name='resources[limits]', value=limit, type='text', placeholder=t('activities.nonnegative_number'))
