extends ../../../views/layout
include activities-forms

block scripts
  script(src='/clientscripts/activityDateModel.js')
  script(src='/clientscripts/activityform-dateAdapter.js')
  script(src='/clientscripts/check-activityform.js')

block title
  | Edit SoCraTes

block content
  +activityform(socratesReadModel, roomTypes)
