extends ../../../views/layout
include group-mixins

block title
  | #{t('groups.overview')}

block head
  +addMapStyle

block content
  .row
    .col-12
      .page-header
        .btn-group.float-right
          if (accessrights.isSuperuser())
            a.btn.btn-light(href='new/', title=t('groups.new')): i.far.fa-file.fa-fw
        h1 #{t('groups.groups')}
  .row
    .col-lg-6
      +grouplist(t('groups.regional'), regionalgroups)
      +grouplist(t('groups.themed'), themegroups)
    .col-lg-6.groupsmap
      +placeGroupLabels(regionalgroups)

block scripts
  +adjustMapScript
