extends ../../../views/layout
include group-mixins

block title
  | #{t('groups.overview')}

block content
  .row
    .col-md-12
      .page-header
        .btn-group.pull-right
          if (accessrights.isSuperuser())
            a.btn.btn-default(href='new/', title=t('groups.new')): i.fa.fa-file-o.fa-fw
        h2 #{t('groups.groups')}
  .row
    .col-md-6
      +grouplist(t('groups.regional'), regionalgroups)
      +grouplist(t('groups.themed'), themegroups)
    .col-md-6.hidden-md.hidden-lg.groupsmap(style='position: relative; width: 100%; height: 100px; background-image:url("/img/map.svg"); background-size: 100% 100%; background-repeat: no-repeat;')
      +placeGroupLabels(regionalgroups)
    .col-md-6.hidden-xs.hidden-sm.groupsmap(style='position: relative; width: 50%; height: 100px; background-image:url("/img/map.svg"); background-size: 100% 100%; background-repeat: no-repeat;')
      +placeGroupLabels(regionalgroups)

block scripts
  script.
    function adjustMapsize() {
      $('.groupsmap').each(function() {$(this).height(1.289 * $(this).width()); })
    }
    $(document).ready(adjustMapsize);
    $.event.add(window, 'resize', adjustMapsize);

