doctype html
html
  body
    h3 SoCraTes Payment Receipt
    p.
      Hello #{member.displayName()},<br>
      we have received your payment of €#{amount}.

    p We will distribute the money accordingly and send confirmations to each participant.

    p If you have questions, need help or want to give feedback, just reply to this e-mail.
