doctype html
html
  body
    h3 Confirmation / Bestätigung
    p.
      Hello #{member.displayName()},<br>
      we confirm that your payment for #{activityTitle} has reached our account.<br>
      You are now a SoCraTes participant.
    p.
      You will receive a billable receipt during the event.
    hr
    p. 
      Hallo #{member.displayName()},<br>
      hiermit bestätigen wir den Eingang Deiner Zahlung für die #{activityTitle} auf unserem Konto.<br>
      Du bist nun ein SoCraTes-Teilnehmer.
    p.
      Eine offizielle Rechnung wird im Rahmen der Veranstaltung ausgestellt.
