doctype html
html
  body
    h3 Confirmation / Best채tigung
    p.
      Hello #{member.displayName()},<br>
      we confirm that your payment for activity "#{activityTitle}" has reached our account.
    p.
      You will receive a billable receipt during the event.
    hr
    p. 
      Hallo #{member.displayName()},<br>
      hiermit best채tigen wir den Eingang Deiner Zahlung f체r die Aktivit채t "#{activityTitle}" auf unserem Konto.
    p.
      Eine offizielle Rechnung wird im Rahmen des Events ausgestellt.
