doctype html
html
  body
    h3 SoCraTes Removal from #{bookingdetails.resourceKind}
    p.
      Hello #{member.displayName()},
    p We have removed you from the #{bookingdetails.resourceKind} for the SoCraTes Conference 2016.
    p Sorry it did not work out for you; maybe next year?

    p If you have questions, need help or want to give feedback, just reply to this e-mail.

    P The SoCraTes organisers
