extends ../../../views/layout
include  ../../../views/formComponents
include paymentFormComponents

block scripts
  +stripeScript

block content
  script.
    function amountHandler() {
      var amount = parseFloat($('.amountInput').val().replace(',', '.'));

      $('.amount').each(function () {
        $(this).html(amount.toFixed(2).replace('.', ',') + ' €');
      });

      $.get('/payments/calcFee/' + amount, null, function (fee) {
        $('.fee').each(function () { $(this).html(fee); });
      });
    }
  .row
    .col-md-12
      .page-header
        h2 #{t('payments.title')}
  .row
    .col-md-12
      h3 #{t('payments.submit')}
      .panel.panel-default
        .panel-heading
          h4.panel-title Input
        .panel-body

          .row
            .col-md-4
              +controlLabel('amount', t('payments.amount'))
              input.amountInput.form-control(id='amount', type='text', name='amount', onkeyup='amountHandler()')
            .col-md-8
              +text('description', 'Beschreibung')


  .row
    +paymentMoneyTransfer(111, paymentInfo)
    +paymentCreditCard(150, 7, paymentInfo)

