extends ../../../views/layout
include  ../../../views/formComponents
include paymentFormComponents

block scripts
  +stripeScript

block content
  .row
    .col-md-12
      .page-header
        h2 #{t('payments.title')}
  .row
    .col-md-12
      h3 #{t('payments.submit')}
      .col-md-4
        form(id='paymentform', action='/payments/setAmount', method='post')
          +csrf
          +text('amount', t('payments.amount'))
          +text('description', 'Beschreibung')
          button.btn.btn-primary.pull-right(type='submit') #{t('payments.pay')}

  +paymentMoneyTransfer(111, paymentInfo)

  +paymentCreditCard(150, 7, paymentInfo)

  h3 #{t('payments.transferred')}
