extends ../../../views/layout
include  ../../../views/formComponents
include paymentFormComponents

block scripts
  +stripeScript

block content
  script.
    function amountHandler() {
      var amount = parseFloat($('.amountInput').val().replace(',', '.'));

      $.get('/payments/calcFee/' + amount, null, function (fee) {
        $('.fee').each(function () { $(this).html(fee); });
      });
    }
  .row
    .col-md-12
      .page-header
        h2 #{t('payments.title')}
  .row
    .col-md-12
      h3 #{t('payments.submit')}

  .row
    +paymentMoneyTransfer(paymentInfo)
    +paymentCreditCard(paymentInfo)
