extends ../../../views/layout
include paymentFormComponents

block scripts
  script(type='text/javascript', src='https://js.stripe.com/v2/')
  +stripeScript
  script(src='/clientscripts/check-paymentform.js')


block content
  .row
    .col-md-12
      .page-header
        h2 #{t('payments.title')}

  .row
    .col-md-6
      +paymentMoneyTransfer(paymentInfo)
    .col-md-6
      +paymentCreditCard(paymentInfo, undefined, undefined, placeholder)
