extends ../../../views/layout
include paymentFormComponents

block title
  | #{t('payment.title')}

block content
  .row
    .col-md-12
      .page-header
        h2 #{t('payment.title')}

  .row
    .col-md-6
      +paymentMoneyTransfer(paymentInfo)
    .col-md-6
      +paymentCreditCard(paymentInfo, placeholder, '/payment/submitCreditCard')

block scripts
  script.
    $('.currency').each(function () {
      /* eslint no-console: 0 */
      $(this).autoNumeric('init');
    });
      
