// For breakpoint information, see http://getbootstrap.com/2.3.2/scaffolding.html#responsive
@media (max-width: 767px) {
    #slider.swipe {
        .hero-unit {
            padding: 20px;
            margin-bottom: 10px;
            font-size: 16px;
            line-height: 22px;
            h2 {
                font-size: 20px;
                line-height: 24px;
            }
            li {
                line-height: 22px;
            }
        }
    }
  .dl-horizontal dt {
    margin-top: 12px;
  }
}
