mixin map(location)
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBicQlzzNdi4OKA5uxV7SRwPpU8s4qUcS8', type='text/javascript')
  script.
    $(document).ready(function () {
      var mapOptions = {
          center: new google.maps.LatLng(50.77740690, 10.0987599999999),
          zoom: 6,
          disableDefaultUI: true,
          zoomControl: true,
          scrollwheel: false,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
      var map = new google.maps.Map($('#map')[0], mapOptions);
      var styles = [
        {
          stylers: [
            { hue: '#c8cf7e' },
            { saturation: -50 }
          ]
        },{
          featureType: 'road',
          elementType: 'geometry',
          stylers: [
            { lightness: 20 },
            { visibility: 'simplified' }
          ]
        },{
          featureType: 'poi.business',
          elementType: 'labels',
          stylers: [
            { visibility: 'off' }
          ]
        }
      ];
      map.setOptions({styles: styles});
      var geocoder = new google.maps.Geocoder();
      function showLocation(loc) {
        geocoder.geocode({'address': loc}, function (results, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            const theLocation = results[0].geometry.location;
            new google.maps.Marker({ map: map, position: theLocation});
            map.setCenter(theLocation);
            map.setZoom(13);
          }
          if (status === google.maps.GeocoderStatus.ZERO_RESULTS) {
            var parts = loc.split(/,| /);
            if (parts.length > 1) {
              parts.shift();
              showLocation(parts.join().trim());
            }
          }
        });
      }
      showLocation('#{location}');
    });
  
