extends commonLayout
block specific
  .col
    if (statusmessage)
      +notificationsBlock(statusmessage)
    block content
    p &nbsp;
  .col-md-4.d-print-none
    .page-header.d-lg-none
      h1 #{t('activities.activities')}
    #calendar
