extends commonLayout
block specific
  .col
    if (statusmessage)
      +notificationsBlock(statusmessage)
    block content
    p &nbsp;
  .col-md-4.d-print-none
    .page-header.d-lg-none
      h1 #{t('activities.activities')}
    #calendar
    .row
      .col-12
        h1 Wiki Links
        h4
          a(href='/wiki/events/2019') #{t('general.events_in_europe')} 2019
          br
          small.text-muted.
            #{t('general.events_in_europe_desc')}
