include ../../../views/authentication-mixin

doctype html
html
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
    h3 I am interested!
  .modal-body
    .row
      .col-md-12
        | I am interested in SoCraTes 2016. I want to be notified when registration is about to open.
        h3 What does this mean?
        h4 Subscription
        p If you are already a member of&nbsp;
          a(href='https://www.softwerkskammer.org', target='_blank') Softwerkskammer
          | , just select the same authentication provider here, and you're done.
        p Otherwise, please select your favourite authentication provider. We then ask you to give us your name and your e-mail address.
          | You can also add your Twitter handle if you want.
        h4 Notification
        p When registration is about to open, we will send you one e-mail to inform you. We might send you another e-mail shortly
          | before SoCraTes takes place (depending on whether there are still spaces available).
          | In each subsequent year, we will send you these e-mails again. If you no longer want to receive these e-mails, you can
          | resign via the option in the user-menu in the upper right corner.
    +authentication('/registration')
