include ../../../views/authentication-mixin

extends ../../../views/simpleLayout

block title 
  | Registration - SoCraTes - Login
block content
  .page-header
    h1 Login to Register
  +authentication(returnToUrl)
