include  ../../../views/formComponents
include userinfoform
include participationinfoform
  
extends ../../../views/simpleLayout

block title 
  | Registration - SoCraTes
block content
  .page-header
    h1 Participate in SoCraTes 2015
  .well
    p.
      Here goes information about the registration process.
  form#participationform(action='/registration/participate', method='post')
    +csrf
    if (participation.id)
      +hidden('id', participation.id)
    fieldset
      +userinfoform(participation.user)
      +participationinfoform(participation, roomOptions)

      .row(style='margin-bottom: 10px')
        .col-sm-12
          button.pull-right.btn.btn-primary(type='submit') I really do want to participate!
