include  ../../../views/formComponents
include userinfoform
include participationinfoform
  
extends ../../../views/simpleLayout

block scripts
  script(src='/clientscripts/check-memberform.js')

block title 
  | Registration - SoCraTes
block content
  .page-header
    h1 Registration<br>
      small Personal Information
      
  form#participationform.relaxed(action='/registration/completeRegistration', method='post')
    +csrf
    +hidden('activityUrl', registrationTuple.activityUrl)
    +hidden('resourceName', registrationTuple.resourceName)
    +hidden('duration', registrationTuple.duration)
    fieldset
      +memberinfoform(member, 'members.edit_registration')
      +userinfoform(addon)

      .row(style='margin-bottom: 10px')
        .col-sm-12
          +memberSubmitButtons('I really do want to participate!')
