include  ../../../views/formComponents
include ../../members/views/userinfoform
include participationinfoform
  
extends ../../../views/simpleLayout

block scripts
  script(src='/clientscripts/check-memberform.js')
  script(src='/clientscripts/check-socrates-memberform.js')

block title 
  | Registration - SoCraTes
block content
  .page-header
    if(registrationTuple.duration === 'waitinglist')
      h1 Waitinglist Registration<br>
    else
      h1 Registration<br>
      small Personal Information
      
  form#participationform.relaxed(action='/registration/completeRegistration', method='post')
    +csrf
    +hidden('activityUrl', registrationTuple.activityUrl)
    +hidden('resourceName', registrationTuple.resourceName)
    +hidden('duration', registrationTuple.duration)
    fieldset
      +memberinfoform(member, 'members.edit_registration')
      +userinfoform(addon, participation)

      .row(style='margin-bottom: 10px')
        .col-sm-12
          +memberSubmitButtons('I really do want to participate!')
