include  ../../../views/formComponents
include ../../members/views/userinfoform
include participationinfoform
  
extends ../../../views/layout

block scripts
  script(src='/clientscripts/check-memberform.js')
  script(src='/clientscripts/check-socrates-memberform.js')

block title 
  | Registration - SoCraTes
block content
  .page-header
    if(registrationTuple.duration === 'waitinglist')
      h1 Waitinglist Registration<br>
    else
      h1 Registration<br>
      small Personal Information
      
  form#participationform.relaxed(action='/registration/completeRegistration', method='post')
    .row(style='margin-bottom: 10px')
      .col-sm-12
        +csrf
        +hidden('activityUrl', registrationTuple.activityUrl)
        +hidden('resourceName', registrationTuple.resourceName)
        +hidden('duration', registrationTuple.duration)
        fieldset
          +memberinfoform(member, 'members.edit_registration')
          +userinfoform(addon, participation, registrationTuple.resourceName.indexOf('bed_in_') > -1)
    
    .row(style='margin-bottom: 10px')
      .col-sm-12
        if(registrationTuple.duration === 'waitinglist')
          +memberSubmitButtons('Put me on the waitinglist!')
        else
          +memberSubmitButtons('I really do want to participate!')
