extends ../../../views/layout

block scripts
  style.
    .middle {vertical-align: middle!important;}
    .highline {height: 50px;}
block title
  | Recptionlist
block content
  .row
    .col-md-12
      for letter in Object.keys(addonLines).sort()
        table.table(style='page-break-inside:avoid;')
          col(style='width:20%;')
          col(style='width:20%;')
          col(style='width:15%;')
          col(style='width:45%;')
          thead
            tr
              td
                h4 #{letter}
              td
              td
              td
              td
            tr
              th Lastname
              th Firstname
              th T-Shirt Size
              th Deposit received (Confirmation)
          tbody 
            for line in addonLines[letter]
              tr.highline
                th.middle #{line.member.lastname()}
                td.middle #{line.member.firstname()}
                td.middle #{line.addon.tShirtSize()}
                td
