mixin userinfoform(user)
  .row
    .col-sm-12
      legend
        h4 Please Enter / Review your personal Data 
  .row
    .col-sm-6
      +text('nickname', 'Nickname', user.nickname)
      +text('firstname', 'First name', user.firstname)
      +text('lastname', 'Last name', user.lastname)
      +text('email', 'E-Mail', user.email)
      +twitter('twitter', 'Twitter', user.twitter)
    .col-sm-6
      +textareaPure('address', 'Private Address', user.address)
      +textareaPure('billingaddress', 'Billing Address', user.billingaddress)
      .form-group
        label.control-label(for='tShirtSize') T-Shirt Size:
        select#tShirtSize.form-control(name='tShirtSize')
          for item in ['', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL', 'Ladies\' XS', 'Ladies\' S', 'Ladies\' M', 'Ladies\' L', 'Ladies\' XL', 'Ladies\' XXL' ]
            option(selected=user.tshirtsize === item) #{item}
