extends ../../../views/layoutOnlyMain
include activities-forms

block scripts
  script(src='/clientscripts/activityDateModel.js')
  script(src='/clientscripts/activityform-dateAdapter.js')
  script(src='/clientscripts/check-activityform.js')

block title
  | #{t('activities.activity')}

block content
  +activityform(activity, groups, editorNames, participantNames)
