extends ../../../views/layoutOnlyMain
include activities-forms
include ../../../views/openstreetmaps-component

block title
  | #{t('activities.activity')}

block content
  +activityform(activity, groups, editorNames, participantNames)

block scripts
  +map(activity.location())
  script $('#location').change(function() {showLocation($('#location').val())})
  script(src='/clientscripts/activityDateModel.js')
  script(src='/clientscripts/activityform-dateAdapter.js')
  script(src='/clientscripts/check-activityform.js')
