name: Agora Ci
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js v18
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: yarn
      - run: yarn install --immutable
      - run: yarn test
