extends ../../../views/layout

include mailheader-mixin


block title
  | #{group} #{t('mailarchive.emails')}

block content
  .row
    .col-md-12
      .page-header
        +pageHeader(group, t('mailarchive.unthreaded'))
      .panel.scrollable-box
        +mailIndex(mailHeaders)
