include mailheader-mixin

doctype html
html
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') #{t('general.close')}&nbsp;&times
    if (!mail)
      h3 #{t('mailarchive.no_emails')}
    else
      h3 #{mail.subject}
        br
        small: +mailattributes(mail) 
  .modal-body
    if (mail)
      | !{mail.getHtml()}
