/* #custom socrates styles              */
/*======================================*/
/*                                      */
/* SoCraTes colorscheme:                */
/*                                      */
/* red -> #B65353                       */
/* red darkened 10% -> #9D3A3A          */
/* blue -> #3161B9                      */
/* blue darkened 10% -> #1848A0         */
/* grey -> #E8E8E8                      */


body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}


.navbar-brand {
    /*font-family: 'Libre Baskerville', serif;*/
    font-family: 'PT Serif Caption', serif;
    background: url('../img/socrates2014_logo_40perc.png') 0 6px no-repeat;
    background-size: 20%;
    padding-left: 45px;
}

h1 {
    /*font-family: 'Libre Baskerville', serif;*/
    font-family: 'PT Serif Caption', serif;
}

.container .jumbotron {
    text-align: center;
}

.btn-success {
    background-image: linear-gradient(to bottom, #B65353 0, #9D3A3A 100%);
    border-color: #B65353;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    background-color: #9D3A3A;
    border-color: #9D3A3A;
    background-position: 0 -15px;
}

footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
}

footer .pull-right {
    text-align: right;
}

.sponsorlogo {
    margin-bottom: 40px;
}

.sponsor-sidebar,
.conference-sidebar {
    text-align:center;
}

.jumbotron {
    background: url('../img/stage.jpg') transparent no-repeat;
    background-size: cover;
    background-position: top center;
}

dd {
    margin-left: 20px;
    margin-bottom: 10px;
}

.extraspace {
    margin-bottom: 50px;
}
