extends ../../../views/layout

include  ../../../views/formComponents

block title
  | #{t('mailsender.resign')}

block content
  form#mailform(action='/mailsender/resign', method='post')
    +csrf
    fieldset
      .row
        .col-md-12
          +submitButtons('mailsender.send')
          legend
            | #{t('mailsender.resign')}
          !=t('mailsender.resign_info', { postProcess: 'pug' })
          +hidden('nickname', nickname)
          +textareaPure('why', t('mailsender.why-resign'), why)
          +textareaPure('notes', t('mailsender.notes-resign'), notes)
          +submitButtons('mailsender.send')
