extends ../../../views/layout

include mailsender-forms

block scripts
  script(src='/clientscripts/check-mailsenderform.js')

block title
  | #{t('mailsender.notification')}

block content
  +mailform(message, regionalgroups, themegroups, massMailing, contactPersons)
