extends ../../../views/layout

include  ../../../views/formComponents

block title
  | #{t('mailsender.resign')}

block content
  form#mailform(action='/mailsender/resign', method='post')
    fieldset
      .row
        .col-12
          .btn-group.float-right
            a.btn.btn-light(href='javascript:history.back()', type='cancel') #{t('general.back')}
            -var deleteoptions = {url: '/mailsender/resign', params: {nickname: nickname}}
            +reallyDeleteModalPost('members.delete', deleteoptions)
          legend
            | #{t('mailsender.resign')}
          !=t('mailsender.resign_info', { postProcess: 'pug' })
          +textareaPure('why', t('mailsender.why-resign'), why)
          +textareaPure('notes', t('mailsender.notes-resign'), notes)
          .btn-group.float-right
            a.btn.btn-light(href='javascript:history.back()', type='cancel') #{t('general.back')}
            -var deleteoptions = {url: '/mailsender/resign', params: {nickname: nickname}}
            +reallyDeleteModalPost('members.delete', deleteoptions)
          
