include  ../../../views/formComponents

mixin mailform(message, regionalgroups, themegroups, massMailing)
  form#mailform(action='/mailsender/send', method='post')
    +csrf
    fieldset
      .row
        .col-md-12
          +submitButtons('mailsender.send')
          legend
            | #{t('mailsender.write')}
          if (massMailing)
            +checkbox('massMailing', 'An alle Softwerkskammer-Mitglieder', false, 'members')
          if (regionalgroups)
            +groupCheckboxes('invitedGroups', regionalgroups, themegroups)
            h4 #{t('mailsender.others')}
            +checkbox('toParticipants', t('mailsender.to_participants'), false, 'toParticipants')
          if (message.receiver)
            +text('nickname', t('mailsender.to_member'), message.receiver.nickname(), '', '', true)
          +text('subject', t('mailsender.subject'), message.subject)
          +hightextarea('markdown', t('mailsender.contents'), message.markdown)
          +checkbox('sendCopyToSelf', t('mailsender.copy_to_self'), false)
          +hidden('buttons', JSON.stringify(message.buttons))
          input#successURL(type='hidden', name='successURL', value=successURL)
          +submitButtons('mailsender.send')
