| #{plain}
each button in buttons
  | #{button.url} (#{button.text})
  |
if includeFooter
  |
  |
  |
  | -- #{$n}
  | Die Softwerkskammer versendet ihre E-Mails mit freundlicher Unterstützung von DeltaTree (https://deltatree.de/).
